<template>
  <div
    ref="filterBlocks"
    :v-show="!hidden"
    class="c-FilterBlocks"
  >
    <div class="c-FilterBlocks__label">
      Filter
    </div>

    <!-- {{sizeFilters.col1}} -->

    <div
      v-for="(filter, index) in filters"
      :key="index"
      :class="`c-FilterBlock ${filter.key.toLowerCase()}`">

      <label
        :for="filter.key"
        @click="showOptions(filter.key)"
      >
        <span class="label-wrap">{{ filter.key }} <span
          v-if="showCount(filter.values)"
          v-text="showCount(filter.values)" /></span>

        <span class="arrow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12.322"
            height="6.938"
            viewBox="0 0 12.322 6.938"><path
              d="M26.1,1.092,25.029,2.278s3.03,3.3,4.545,4.682v.19c-1.516,1.577-4.545,4.839-4.545,4.839L26.1,13.414l5.864-6.358Z"
              transform="translate(13.414 -25.029) rotate(90)"/></svg>
        </span>
      </label>

      <ul
        v-if="filter.key.toLowerCase() === 'color'"
        :class="[{ active: filter.key === activeFilter }, { 'has-active-link': hover !== ''}]">
        <li
          v-for="(value, index) in filter.values"
          :key="index"
          :class="`item-${index} ${hover===`item-${index}` ? 'active' : ''}`"
          @mouseover="hover = `item-${index}`"
          @mouseleave="hover = ''"
        >
          <input
            :id="value + index"
            :name="filter.key"
            :value="value"
            v-model="appliedFilters"
            type="checkbox"
          >
          <label
            :for="value + index"
            class="item-label">{{ value.replace(/-/g, ' ') }}</label>
        </li>
        <li class="apply underline"><label
          style="cursor: pointer;"
          @click.prevent="closePanel()">Apply Filters</label></li>
        <li class="underline"><label
          style="cursor: pointer;"
          @click.prevent="clearFilters()">Clear</label></li>
      </ul>
      <ul
        v-else
        :class="[{ active: filter.key === activeFilter }, { 'has-active-link': hover !== ''}]">
        <li class="c-FilterBlock--sublist">
          <ul>
            <li
              v-for="(value, index) in sizeFilters.col1"
              :key="index"
              :class="`item-${index} ${hover===`item-${index}` ? 'active' : ''}`"
              @mouseover="hover = `item-${index}`"
              @mouseleave="hover = ''"
            >
              <input
                :id="value + index"
                :name="filter.key"
                :value="value"
                v-model="appliedFilters"
                type="checkbox"
              >
              <label
                :for="value + index"
                class="item-label">{{ value.replace(/-/g, ' ') }}</label>
            </li>
            <li
              v-if="!sizeFilters.col2.length"
              class="apply underline"><label
                style="cursor: pointer;"
                @click.prevent="closePanel()">Apply Filters</label></li>
            <li
              v-if="!sizeFilters.col2.length"
              class="underline"><label
                style="cursor: pointer;"
                @click.prevent="clearFilters()">Clear</label></li>
          </ul>
        </li>
        <li class="c-FilterBlock--sublist">
          <ul>
            <li
              v-for="(value, index) in sizeFilters.col2"
              :key="index"
              :class="`item-${index} ${hover===`item-${index}` ? 'active' : ''}`"
              @mouseover="hover = `item-${index}`"
              @mouseleave="hover = ''"
            >
              <input
                :id="value + index"
                :name="filter.key"
                :value="value"
                v-model="appliedFilters"
                type="checkbox"
              >
              <label
                :for="value + index"
                class="item-label">{{ value.replace(/-/g, ' ') }}</label>
            </li>
            <li
              v-if="sizeFilters.col2.length"
              class="apply underline"><label
                style="cursor: pointer;"
                @click.prevent="closePanel()">Apply Filters</label></li>
            <li
              v-if="sizeFilters.col2.length"
              class="underline"><label
                style="cursor: pointer;"
                @click.prevent="clearFilters()">Clear</label></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { EventBus } from '@/plugins/event-bus';

export default {
  data() {
    return {
      //loading: false,
      filters: [],
      activeFilter: '',
      hover: '',
      hidden: true
    };
  },
  computed: {
    products() {
      //console.log('products');
      //console.log(this.$parent.productOptions);
      return this.$parent.productOptions;
    },
    appliedFilters: {
      get: function() {
        // console.log(this.$parent.appliedFilters);
        return this.$parent.appliedFilters;
      },
      set: function(newValue) {
        this.$parent.appliedFilters = newValue;
      }
    },
    sizeFilters() {
      let sizeCol1 = [],
        sizeCol2 = [];
      if (this.filters) {
        this.filters.forEach((filter) => {
          if (filter.key === 'Size') {
            filter.values.forEach((value) => {
              if (!this.isInt(value)) {
                sizeCol1.push(value);
              } else {
                sizeCol2.push(value);
              }
            });
          }
        });
      }
      return {
        col1: sizeCol1,
        col2: sizeCol2
      };
    }
  },
  created(){
    EventBus.$on('closeFilterPanels', (target) => {
      if (document.getElementById('js-filter-panel') && !document.getElementById('js-filter-panel').contains(target)){
        this.activeFilter = '';
        this.removeOverlay();
      }
    });
    EventBus.$on('showOptions', (key) => {
      if(this.activeFilter === key) {
        this.activeFilter = '';
      } else {
        this.activeFilter = key;
      }
      if(this.activeFilter){
        this.addOverlay();
      } else {
        this.removeOverlay();
      }
    });
  },
  mounted() {
    setTimeout(() => {
      this.hidden = false;
    }, 10000);
    this.createProductFilters();
    this.closeOptions();
  },
  beforeDestroy(){
    EventBus.$off('closeFilterPanels');
    EventBus.$off('showOptions');
  },
  methods: {
    showCount(f) {
      let count = this.$parent.appliedFilters.filter(x => f.includes(x)).length;
      return count ? `(${count})` : '';
    },
    isInt(n) {
      return n % 1 === 0;
    },
    showOptions(key) {
      EventBus.$emit('showOptions', key);
    },
    closeOptions() {
      window.addEventListener('click', function(e){
        EventBus.$emit('closeFilterPanels', e.target);
      });
    },
    closePanel() {
      EventBus.$emit('closeFilterPanels');
    },
    addOverlay() {
      let products = document.getElementsByClassName('c-Products')[0];
      if (products)
        products.classList.add('overlay');
    },
    removeOverlay() {
      let products = document.getElementsByClassName('c-Products')[0];
      if (products)
        products.classList.remove('overlay');
    },
    createProductFilters() {
      this.$parent.loading = true;
      let rawFilters = [];
      let productFilters = [];
      this.products.forEach(function(product) {
        // loop through product options
        if (product.colors || product.colors === undefined) {
          product.options.forEach(option => {
            // sanitise option values
            let formattedValues = option.values.map(v => {
              return v.replace(/\W+/g, '-').toLowerCase();
            });
            // build new option object
            let formattedOption = {
              key: option.key,
              values: formattedValues
            };
            // strip out default product option
            if (formattedOption.key !== 'Title')
              rawFilters.push(formattedOption);
          });
        }
      });
      // combine objects with the same key
      rawFilters.forEach(item => {
        let existing = productFilters.filter((f, i) => {
          return f.key === item.key;
        });
        if (existing.length > 0) {
          let existingIndex = productFilters.indexOf(existing[0]);
          // using Set constructor + spread syntax to remove duplicate values
          productFilters[existingIndex].values = [...new Set(productFilters[existingIndex].values.concat(item.values))];
        } else {
          productFilters.push(item);
        }
      });
      this.filters = productFilters;
      this.$parent.loading = false;
    },
    clearFilters() {
      this.appliedFilters = [];
    }
  },
};
</script>

<style src="./FilterBlock.scss" lang="scss"></style>
