.c-FilterBlocks__label {
  //float: left;
  padding: 0 30px 0 0;
  border-right: 1px solid rgba(#000000, 0.2);
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.c-FilterBlock > ul {
  display: none;
  margin: 0;
  padding: 25px 0 30px;
  list-style: none;
  z-index: 10;
  position: absolute;
  top: 100%;
  background-color: #ffffff;

  &:before {
    @include breakpoint(large) {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -100vw;
        right: -100vw;
        width: 200vw;
        height: 100%;
        background-color: #ffffff;
        box-shadow: 0 10px 6px -10px rgba(0,0,0,0.1);
    }
  }

  &.active {
    display: block;
  }
}

.c-FilterBlock label,
.c-FilterBlocks .c-FilterBlocks__label {
  @include v-spacing('line-height', 20px, 20px);
}

.c-FilterBlocks {
  display: flex;
  flex-direction: row;
  .c-FilterBlock {
    label{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}


.c-FilterBlock {
  min-width: 190px;
  border-right: 1px solid rgba(#000000, 0.2);
  &:last-child > label {
    border-right: 0;
  }

  .arrow{
    padding: 0;
    display: inline-block;
    @include v-spacing('line-height', 17px, 17px);

    //@include v-spacing('font-size', 10px, 12px);

    > svg{
      width: 8px;
    }

  }

  &.size {
    .item-label {
      text-transform: uppercase;
    }
  }

  & > label {
    display: inline-block;
    padding: 0 30px;
    cursor: pointer;
    color: #000000;
    transition: color 0.2s ease-in-out;
    @include v-spacing('font-size', 10px, 10px);//@TODO - is this correct?
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    &:hover {
      // color: #cccccc;
    }
  }

  li {

    position: relative;
    margin-bottom: 8px;
    padding: 0 30px;
    color: grey;
    text-transform: capitalize;
    z-index: 1;

    @include v-spacing('line-height', 28px, 28px);

    label {
      margin: 0;
      display: inline-block;
      color: rgba(#000000, 0.4);
      @include v-spacing('font-size', 12px, 14px);
    }

    &.apply {
      margin-top: 10px;
    }

    &.underline {
      padding-bottom: 0!important;  // filter-block.scss needs refactoring - don't use body class selectors

      label {
        margin-bottom: 0!important; // filter-block.scss needs refactoring - don't use body class selectors
        display: inline!important; // filter-block.scss needs refactoring - don't use body class selectors
        padding-bottom: 1px;
        border-bottom: 1px solid $c-grey;
      }
    }
  }
}
