<template>
  <div class="PreOrder">
    <slot>
      <div>
        <!--default slot-->
        <p>
          Available <span>{{ startDate | moment(dateFormat) }}</span><span v-if="endDate"> - {{ endDate | moment(dateFormat) }}</span>
        </p>

        <!-- <br>
        variant.title - {{ variant.title }}
        <br>-->
        <!--srcData - {{ srcData }}-->

      </div>
    </slot>
  </div>
</template>
<script>

export default {
  props:{
    dateFormat: {
      type: String,
      default: () => 'MMM. D YYYY'
    },
    startDate: {
      type: Date,
      default: () => null
    },
    endDate: {
      type: Date,
      default: () => null,
      required: false
    },
  },
};
</script>
<style src="./PreOrder.scss" lang="scss"></style>
