body.single-product .c-ProductInfo{
  .PreOrder{
    p{
      @include v-spacing('font-size', 12px, 12px);
      @include v-spacing('line-height', 12px, 14px);
      text-transform: none;

      font-weight: 500;

      //@include v-spacing('font-size', 10px, 12px);

      @include breakpoint(large) {
        max-width: 70%;
      }
    }
  }
}
