<template>
  <div>
    <slot>
      <div
        :class="[`c-Filter c-FilterBlock ${filterKey} `, { 'disabled': productsLoading}]"
      >
        <label
          :for="filterKey"
          @click="showOptions(filterKey)"
        >
          <span class="label-wrap">
            {{ filterKey }}
            <span
              v-if="showCount(appliedFilter)"
              v-text="showCount(appliedFilter)"
            />
          </span>
          <span class="arrow">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12.322"
              height="6.938"
              viewBox="0 0 12.322 6.938"
            >
              <path
                d="M26.1,1.092,25.029,2.278s3.03,3.3,4.545,4.682v.19c-1.516,1.577-4.545,4.839-4.545,4.839L26.1,13.414l5.864-6.358Z"
                transform="translate(13.414 -25.029) rotate(90)"
              />
            </svg>
          </span>
        </label>
        <ul
          :class="[{ active: filterKey === activeFilter }, { 'has-active-link': hover !== ''}]"
        >
          <li
            v-for="(value, index) in options"
            :key="index"
            :class="`item-${index} ${hover===`item-${index}` ? 'active' : ''}`"
            @mouseover="hover = `item-${index}`"
            @mouseleave="hover = ''"
          >
            <input
              :id="value + index"
              v-model="appliedFilter"
              :name="filterKey"
              :value="value"
              type="checkbox"
            >
            <label
              :for="value + index"
              class="item-label"
            >{{ value.replace(/-/g, ' ') }}</label>
          </li>

          <slot name="actions">
            <li>
              <ul class="actions">
                <li class="apply underline">
                  <label
                    style="cursor: pointer;"
                    @click.prevent="closePanel()"
                  >Apply Filters</label>
                </li>
                <li class="underline">
                  <label
                    style="cursor: pointer;"
                    @click.prevent="clearFilter()"
                  >Clear</label>
                </li>
              </ul>
            </li>
          </slot>

        </ul>
      </div>
    </slot>
  </div>

</template>

<script>
import { EventBus } from '@/plugins/event-bus';

export default {
  props: {
    options: {
      type: Array,
      default: () => []
    },
    filterKey: {
      type: String,
      default: ''
    },
    hidden: {
      default: false,
      type: Boolean,
      required: false,
    }
  },
  data(){
    return {
      productsLoading: false,
      activeFilter: true, //tmp
      hover: '',
      appliedFilter: [],
      isHidden: this.hidden,
    };
  },
  computed:{
    hideClass(){
      return this.isHidden ? 'hidden' : '';
    }
  },
  watch: {
    appliedFilter() {
      EventBus.$emit('appliedFilter', this.filterKey, this.appliedFilter);
      this.setUrlParam();
    },
  },
  created(){
    this.setFilter();

    EventBus.$on('closeFilterPanels', (target) => {
      if (document.getElementById('js-filter-panel') && !document.getElementById('js-filter-panel').contains(target)){
        this.activeFilter = '';
        this.removeOverlay();
      }
    });

    EventBus.$on('showOptions', (key) => {
      //console.log('showOptions event');
      if(this.activeFilter === key) {
        this.activeFilter = '';
      } else {
        this.activeFilter = key;
      }
      if(this.activeFilter){
        this.addOverlay();
      } else {
        this.removeOverlay();
      }
    });

    EventBus.$on('productsLoading', (value) => {
      this.productsLoading = value;
    });
  },
  beforeDestroy(){
    EventBus.$off('closeFilterPanels');
    EventBus.$off('showOptions');
    //EventBus.$off('productsLoading');
  },
  mounted(){
    let self = this;
    setTimeout(() => {
      self.isHidden = false;
    }, 2000);

    this.closeOptions();


  },
  methods: {
    setUrlParam(){
      if( this.appliedFilter.length > 0){
        let query = {
          query: {
            ...this.$route.query,
            [`${this.filterKey}`]: this.appliedFilter.join(',').toLowerCase()
          }
        };
        this.$router.push(query);
      }
      else{
        let query = Object.assign({}, this.$route.query);
        delete query[this.filterKey];
        this.$router.replace({ query });
      }
    },
    setFilter () {
      if(Object.prototype.hasOwnProperty.call(this.$route.query, this.filterKey)){
        if(this.$route.query[this.filterKey].length > 0){
          this.appliedFilter = this.$route.query[this.filterKey].split(',');
        }
      }
    },
    clearFilter() {
      if(this.appliedFilter) {
        if (this.appliedFilter.length > 0) {
          this.appliedFilter = [];
        }
      }
    },
    closeOptions() {
      window.addEventListener('click', function(e){
        EventBus.$emit('closeFilterPanels', e.target);
      });
    },
    closePanel() {
      EventBus.$emit('closeFilterPanels');
    },
    showOptions(key) {
      //console.log('showOptions');
      EventBus.$emit('showOptions', key);
    },
    addOverlay() {
      let products = document.getElementsByClassName('c-Products')[0];
      if (products)
        products.classList.add('overlay');
    },
    removeOverlay() {
      let products = document.getElementsByClassName('c-Products')[0];
      if (products)
        products.classList.remove('overlay');
    },
    showCount(f) {
      if (f.length)
        return `(${f.length})`;
      else
        return '';
    },
  },
};
</script>

<style lang="scss" scoped src="./Filter.scss"></style>


