.c-FilterBlock {
    &.disabled {
        pointer-events: none;
    }
}

.c-Filter{
    ul{
        list-style: none;
        display: block;
        margin-left: 0;

        &.actions{
            li{
                margin-left: 0;
                padding-left: 0;
                label{
                    text-decoration: underline;
                }
            }
        }
    }
}
