.c-ProductBox img {
    width: 100%;
    height: auto;
}

.c-ProductBox a > span {
    display: block;
    clear: both;
}

.box {
    width: 30px;
    height: 30px;
    display: block;
}

.c-ProductBox {
    font-size: 12px;
    font-weight: 300;

    & > a {
        display: block;
        position: relative;
    }

    a {
        color: #000;
        text-decoration: none;
    }

    .c-Product__title {
        @include v-spacing('font-size', 9px, 9px);
        @include v-spacing('line-height', 14px, 16px);
        letter-spacing: 0.2em;
        text-transform: uppercase;

        @include v-spacing('font-size', 10px, 12px);

        @include breakpoint(large) {
            max-width: 70%;
        }
    }
}

.c-ProductBox__image {
    margin-bottom: 20px;
    overflow: hidden;
    height: 0;
    padding-bottom: 130%;
    position: relative;

    & > img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    &:hover .c-ProductBox__hover-image {
        @include breakpoint(large) {
            z-index: 1;
            opacity: 1;
            visibility: visible;
        }
    }
}

.c-ProductBox__hover-image {
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .5s all;
}

.c-Product__price {
    letter-spacing: 0.1em;
    //float: right;

    @include breakpoint(medium) {
        position: absolute;
        top:0;
        right: 0;
        max-width: 30%;
    }
}

.c-ProductBox {
    margin: 15px auto;
    position: relative;

    ul {
        text-transform: uppercase;
    }

    .c-Product__title,
    .c-Product__price,
    .c-ProductBox__options,
    .c-ProductBox__pre-order-label {
        transition: opacity .6s; // 0.2s ease-in-out;
        @include breakpoint(large) {
            opacity: 0;
        }
    }

    .c-Product__title {
        margin-bottom: 10px;

        @include breakpoint(medium down) {
            margin-bottom: 0;
        }
    }

    &:hover {
        .c-Product__title,
        .c-Product__price,
        .c-ProductBox__options,
        .c-ProductBox__pre-order-label {
            @include breakpoint(large) {
                opacity: 1;
            }
        }
    }

    .c-Product__price{
        @include v-spacing('font-size', 10px, 12px);
    }
}

.c-ProductBox__available-sizes-label,
.c-ProductBox__available-sizes li {
    @include v-spacing('font-size', 10px, 12px);
    @include v-spacing('line-height', 18px, 22px);
}

.c-ProductBox__options {
    display: none;

    @include breakpoint(large) {
        display: block;
    }
}

.c-ProductBox__swatches {
    display: none;
    list-style: none;
    padding-left: 0;
    position: absolute;
    top: 13px;
    left: 15px;
    transition: opacity .6s;

    @include breakpoint(medium) {
        display: block;
    }
}

.c-ProductBox__swatch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    line-height: 1;
    margin-right: 7px;

    &:last-child {
        margin-right: 0;
    }

    &.white {
        box-shadow: 0 0 1px $c-grey;
    }
}
