<template>
  <div
    class="c-ProductBox"
    @click="productClick()"
  >
    <!--dateFormat - {{ product.dateFormat }}-->

    <!--
    <div v-if="preOrderDates">
      preOrderDates - {{ preOrderDates }}
      preOrderDates - {{ preOrderDates.start | moment(product.dateFormat) }} - {{ preOrderDates.end | moment(product.dateFormat) }}
      <br>
      inPreOrderDateRange - {{ inPreOrderDateRange }}
    </div>
    -->

    <!--product.pre_order_data -
    <pre>
      {{ product.pre_order_data }}
    </pre>-->

    <nuxt-link
      :to="`/products/${product.handle}${getColorVariantParam}`"
    >
      <ul
        v-for="(option, index) in getColors"
        :key="index"
        class="c-ProductBox__swatches"
      >
        <li
          v-for="(val, index) in option.values"
          :key="val+'-'+index"
          :class="[ 'c-ProductBox__swatch', val ]"
          :style="`background-color: ${getHexFromColorName(val)}`"
        />
      </ul>
      <div class="c-ProductBox__image">
        <!-- <parallax>-->

        <v-lazy-image
          v-if="product.thumbnails.length > 0"
          :src="getColorVariantThumbnail.thumbnail"
          :srcset="getSrcset"
          :alt="product.title"
          sizes="(max-width: 320px) 320px, (max-width: 640px) 640px, 1024px"
        />

        <v-lazy-image
          v-else
          :alt="product.title"
          src="//placehold.it/620x870"
        />

        <v-lazy-image
          v-if="product.thumbnails.length > 0"
          :src="getColorVariantThumbnail.hover"
          :alt="product.title"
          class="c-ProductBox__hover-image"
        />

      <!--</parallax>-->

      </div>
      <div class="u-relative">
        <h5 class="c-Product__title">
          {{ product.title }}
        </h5>
        <div class="c-Product__price">
          <span>
            {{ price }} {{ activeCurrency }}
          </span>
        </div>
        <div
          class="c-ProductBox__options"
        >
          <div
            v-if="opts.values"
            class="c-ProductBox__option"
          >
            <div class="c-ProductBox__available-sizes-label">
              Available Sizes
            </div>

            <c-product-sizes
              v-if="opts.values"
              :product="product"
              :option="opts"
            />

          </div>
        </div>

        <span
          v-show="preOrderLabel"
          class="c-ProductBox__pre-order-label">
          {{ preOrderLabel }}
        </span>

      </div>
    </nuxt-link>
  </div>
</template>

<script>
import formatPrice from '../../../mixins/utils';
import getHexFromColorName from '../../../mixins/products';
import getMetaField from '../../../mixins/products';
import getOption from '@/node_modules/six-shopify-library/src/mixins/products';
import getEventName from '@/mixins/event';
import sortOptions from '../../../mixins/products';
import Parallax from 'vue-parallaxy';
import CProductSizes from '@/node_modules/six-shopify-library/src/components/Molecules/ProductSizes/ProductSizes';
import { EventBus } from '@/plugins/event-bus';

//@TODO - this needs to load dynamically if trackers are set
import gtmGetProductBoxViewData from '@/mixins/trackers/gtm.js';
import fbGetProductBoxViewData from '@/mixins/trackers/fb.js';
import gtmGetClickProductData from '@/mixins/trackers/gtm.js';

export default {
  name: 'ProductBox',
  components:{
    Parallax,
    CProductSizes,
  },
  mixins: [
    formatPrice,
    getHexFromColorName,
    getOption,
    sortOptions,
    getEventName,
    gtmGetProductBoxViewData,
    fbGetProductBoxViewData,
    gtmGetClickProductData,
    getMetaField
  ],
  props: {
    product: {
      type: Object,
      required: true
    },
  },
  data() {
    return {
      size: null,
      color: null,
      opts: {
        'name': 'Size',
        'values': this.product.options ? this.getOption(this.product.options, 'Size').values : ''
      },
    };
  },
  computed:{
    isPreOrder(){
      console.log('isPreOrder:');
      let isPreOrder = false;
      if(this.product && this.product.pre_order_data){
        isPreOrder = this.product.pre_order_data.pre_order_start_date || this.product.pre_order_data.num_variants_with_start_date > 0;
      }
      return isPreOrder;
    },
    preOrderLabel(){
      return this.isPreOrder ? 'pre-order' : null;
    },
    price(){
      //formatPrice(product.variants[0].presentmentPrices.amount)
      // let prices = this.product.variants[0].presentmentPrices;

      let prices = this.findPrice();
      if(prices && prices.length > 0){
        let amount = prices[0].amount;
        return this.formatPrice(amount);
      }
      return '';
    },
    getColors() {
      let colors= [];
      if (this.product.options.length > 0) {
        colors = this.product.options.filter(option => {
          return option.key.includes('Color');
        });
      }
      return colors;
    },
    getColor() {
      if(Object.prototype.hasOwnProperty.call(this.product, 'thumbnails')) {
        if (this.product.thumbnails.length > 0 && this.product.thumbnails !== 'undefined') {
          if(Object.prototype.hasOwnProperty.call(this.product, 'color')) {
            if (typeof this.product.color === 'string') {
              if (this.product.color.trim() !== '') {
                return this.product.color.replace(/ /g, '-').toLowerCase().trim();
              }
            }
          }
        }
      }
      return '';
    },
    getColorVariantThumbnail() {
      if(Object.prototype.hasOwnProperty.call(this.product, 'thumbnails')){
        //console.log('getColorVariantThumbnail - step 1');
        if (this.product.thumbnails.length > 0 && typeof this.product.thumbnails !== 'undefined') {
          //console.log('getColorVariantThumbnail - step 2');
          if (!this.getColor || !this.product.thumbnails[0].altText) {
            //console.log('getColorVariantThumbnail - color altText');
            // if no color variations available just return first image
            return {
              thumbnail: this.product.thumbnails[0].src,
              hover: this.product.thumbnails.length > 1 ? this.product.thumbnails[1].src : this.product.thumbnails[0].src,
            };
          } else {
            // search through array of thumbnails to find first matching alt text with color
            //console.log('getColorVariantThumbnail - else');
            let colorVariationThumbnail = this.product.thumbnails.find(
              thumbnail => Object.prototype.hasOwnProperty.call(thumbnail, 'altText') &&
                            thumbnail.altText &&
                            thumbnail.altText.includes(this.getColor));

            let index = this.product.thumbnails.indexOf(colorVariationThumbnail);

            //console.log('colorVariationThumbnail');
            //console.log(colorVariationThumbnail);

            if(colorVariationThumbnail){ // colorVariationThumbnail.src

              if(this.product.thumbnails.length > 1 && this.product.thumbnails[index + 1]){
                return {
                  thumbnail: colorVariationThumbnail.src,
                  hover: this.product.thumbnails[index + 1].src
                };
              } else {
                return {
                  thumbnail: colorVariationThumbnail.src,
                  hover: colorVariationThumbnail.src
                };
              }
            } else {
              //console.log('test2');
              return {
                thumbnail: this.product.thumbnails[0].src,
                hover: this.product.thumbnails[1].src
              };
            }
          }
        }
      }
      return {};
    },
    getColorVariantParam() {
      if(Object.prototype.hasOwnProperty.call(this.product, 'color')) {
        if (typeof this.product.color === 'string') {
          if (this.product.color.trim() !== '') {
            return `?color=${this.product.color.replace(/\s+/g, '-').toLowerCase()}`;
          }
        }
      }
      return '';
    },
    getSrcset() {
      if(Object.prototype.hasOwnProperty.call(this.product, 'thumbnails')) {
        if (this.product.thumbnails.length > 0 && typeof this.product.thumbnails !== 'undefined') {
          if (!this.getColor || !this.product.thumbnails[0].altText) {
            let thumbnail = this.product.thumbnails[0].originalSrc,
              small = thumbnail.replace('.jpg', '_400x800.jpg'),
              medium = thumbnail.replace('.jpg', '_450x900.jpg'),
              large = this.product.thumbnails[0].src;
            return `${small} 320w, ${medium} 640w, ${large} 1024w`;
          } else {

            let colorVariationThumbnail = this.product.thumbnails.find(
              thumbnail => Object.prototype.hasOwnProperty.call(thumbnail, 'altText') &&
                            thumbnail.altText &&
                            thumbnail.altText.includes(this.getColor));

            if(colorVariationThumbnail){
              let index = this.product.thumbnails.indexOf(colorVariationThumbnail),
                small = colorVariationThumbnail.src.replace('_600x1200.jpg', '_400x800.jpg'),
                medium = colorVariationThumbnail.src.replace('_600x1200.jpg', '_450x900.jpg'),
                large = colorVariationThumbnail.src;
              return `${small} 320w, ${medium} 640w, ${large} 1024w`;
            }

            return '';
          }
        }
      }
      return '';
    },
  },
  methods:{
    //@TODO!!! - make thee sfy functions global

    getMetaFields(obj){
      let fields = obj.filter((v)=>{ // client level logic
        return v.metafields && v.metafields.edges.length > 0;
      });
      return fields || null;
    },

    hasVariants(){
      return this.product && this.product.variants && this.product.variants.length > 1;
    },

    formatDate(dateStamp){
      return new Date(dateStamp * 1000);
    },

    findPrice(){
      let self = this;
      //@TODO - fallback needed, in vuex?
      if (this.product.variants) {
        return this.product.variants[0].presentmentPrices ? this.product.variants[0].presentmentPrices.filter(function(price){
          return price.currencyCode === self.activeCurrency;
        }) : null;
      }
    },

    productClick(){
      console.log('productClick() - this.gtmGetClickProductData():', this.gtmGetClickProductData());
      EventBus.$emit(
        'gtm__event__six-shopify-library__ProductBox__clicked',
        {
          ...this.gtmGetClickProductData(),
          ...{variant: this.opts}
        },
        this.$gtm
      );
    }

  },
};
</script>

<style src="./ProductBox.scss" lang="scss"></style>
