<template>

  <div class="c-Product__options">
    <slot name="before" />
    <slot name="options">
      <div
        v-for="(option, index) in options"
        :class="`c-ProductOption c-ProductOption${option.name}`"
        :value="option.id"
        :key="index">

          <component
            :option="option"
            :is="getProductOptionComponentName(option.name)"
          />

      </div>
    </slot>
    <slot name="after"/>
  </div>

</template>

<script>
import { EventBus } from '@/plugins/event-bus';
import getSelectedVariant from '@/node_modules/six-shopify-library/src/mixins/products';
import getProductOptionComponentName from '../../../mixins/products';
import getVariantTitle from '../../../mixins/products';

export default {
  mixins: [
    getVariantTitle,
    getSelectedVariant,
    getProductOptionComponentName
  ],
  props: {
    options: {
      type: Array,
      default: () => [],
    },
  },
  data(){
    return {
      variantTitle: '',
      selectedOptions: [],
      product: {},
      variants: [],
      selectedVariant: {}
    };
  },
  watch: {//@TODO - good idea emitters in your watchers?
    selectedOptions(){
      this.variantTitle = this.getVariantTitle(this.options, this.selectedOptions);
      this.selectedVariant = this.getSelectedVariant(this.variantTitle);
      EventBus.$emit('variantSelected', this.selectedVariant, this.selectedOptions);
      this.optionSelectScrollTop();
    },
    /*variantTitle(){
      EventBus.$emit( 'variantTitleChanged', this.variantTitle );//@TODO - scoping
    }*/
  },
  created(){
    EventBus.$on('productOptionUpdated', (name, value) => {
      this.setSelectedOptions(name, value);
    });

    EventBus.$on('productLoaded', (product, variants) => {
      this.product = product;
      this.variants = variants;
    });
  },
  beforeMount() {
    window.addEventListener('resize', this.optionSelectScrollTop);
  },
  beforeDestroy() {
    EventBus.$off('productOptionUpdated');
    EventBus.$off('productLoaded');
    window.removeEventListener('resize', this.optionSelectScrollTop);
  },
  methods:{
    setSelectedOptions(name, value) {
      this.selectedOptions = this.buildSelectedOptions(this.selectedOptions, name, value);
    },
    optionSelectScrollTop() {
      if (window.matchMedia('(min-width: 768px)').matches) {
        window.scrollTo({ top: 0, behavior: 'smooth' });
      } else {
        return;
      }
    }
  }
};
</script>

<style src="./ProductOptions.scss" lang="scss"></style>
