.c-Product__options {
    margin: 40px auto;
    position: relative;
    border-top: 1px solid rgba($c-black, 0.2);

    select, input {
        margin: 0;
    }
}

.c-ProductOption {
    padding: 20px 0;
    border-bottom: 1px solid rgba($c-black, 0.2);

    input, select {
        display: inline-block;
        width: auto;
    }
}

.c-ProductOption__label {
    display: inline-block;
    // font-family: $f-expanded;
    letter-spacing: 0.1em;//0.2em;
    text-transform: uppercase;
    width: 30%;
    //font-size: 10px;
    font-weight: 500;
    color: $c-black;
}

.c-ProductOption__input {
    display: inline-block;
}

.c-ProductOption__picked, .c-ProductOption__picked a{
    //font-size: 12px;
    //font-weight: 300;
}
