<template>
  <div :class="['c-PanelAccount', {'is-loading': loading}]">
    <header class="c-PanelAccount__header">
      <div class="c-PanelAccount__btn">
        <span v-if="!this.user && tab === 'register'"
          class="c-PanelAccount__close">Sign Up</span>
        <span v-else-if="!this.user"
          class="c-PanelAccount__close">Log In</span>
        <a v-else @click.prevent="logout">Log Out</a>
      </div>
      <button
        @click.prevent="closePanel"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="14.207" height="14.207" viewBox="0 0 14.207 14.207"><g transform="translate(-340.197 -22.146)"><line y1="13.5" x2="13.5" transform="translate(340.551 22.5)" fill="none" stroke="#000" stroke-width="1"/><line x1="13.5" y1="13.5" transform="translate(340.551 22.5)" fill="none" stroke="#000" stroke-width="1"/></g></svg>
      </button>
    </header>

    <div class="c-PanelAccount__inner">
      <LogInForm v-if="!$auth.loggedIn && tab === ''"/>
      <RegisterForm v-else-if="!$auth.loggedIn && tab === 'register'"/>
      <ResetPasswordForm v-else-if="!$auth.loggedIn && tab === 'reset-password'"/>
      <div v-else-if="$auth.loggedIn">
          <h4 class="c-PanelAccount__title h6">Thank you, {{ user.displayName }}</h4>
          <p>From now on you will be able to customise your shopping experience and take advantage of exclusive services.</p>

          <button
            class="c-Button c-Button--invert"
            @click.prevent="goToAccountPage"
          >
            View Your Account
          </button>

          <div class="c-LogInForm__actions">
            <div class="c-LogInForm__action">
            <span
              class="c-Link c-Link--underline"
              @click.prevent="closePanel"
            >
              Continue Shopping
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from '@/plugins/event-bus';
import LogInForm from '../LogInForm/LogInForm';
import RegisterForm from '../RegisterForm/RegisterForm';
import ResetPasswordForm from '../ResetPasswordForm/ResetPasswordForm';

export default {
  components: {
    LogInForm,
    RegisterForm,
    ResetPasswordForm
  },
  data() {
    return {
      tab: '',
      loading: false,
      formError: null,
      email: '',
      password: '',
      notice: ''
    };
  },
  created() {
    EventBus.$on('accountCreated', () => {
      this.notice = 'Account created';
      this.closePanel();
    });
    if (this.$route.query.account_create_success) {
      this.notice = 'Account creation successful.';
    }
  },
  computed:{
    user(){
      return this.$store.state.auth.user;
    },
  },
  methods: {
    closePanel() {
      this.$emit('closePanel', {});
    },
    goToAccountPage() {
      this.$emit('closePanel', {});
      if(this.$router.currentRoute.fullPath !== '/account'){
        this.$router.push('/account');
      }
    },
    async logout() {
      try {
        this.$emit('closePanel', {});
        await this.$auth.logout();
        console.log('panel account logged out!');
      } catch (e) {
        this.formError = e.message
      }
    }
  }
};
</script>

<style src="./PanelAccount.scss" lang="scss"></style>
