.c-PanelAccount__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;//23px 30px;

  button {
    display: inline-block;
    width: auto;
    text-align: right;
    &:hover{
      svg{
        line{
          stroke: $c-grey;
        }
      }
    }
    // svg {
    //   line {
    //     stroke: $c-black;
    //   }
    // }
  }

  .c-PanelAccount__btn {
    display: inline-block;
    width: 50%;
  }
}

.c-PanelAccount__inner {
    margin: 0 auto;
    padding: 0 30px;
    // padding: 20px 30px 30px;
    // border: 1px solid #ccc;
    background-color: #fff;
    z-index: 20;
    transition: opacity .2s ease;

    @include breakpoint(large) {
      width: 550px;
      max-width: calc(100% - 20px);
    }

    p {
      font-size: 15px;
      font-weight: 300;
      line-height: 25px;
    }

    table {
      width: 100%;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }

    table td {
      border-bottom: 1px solid #ccc;
      padding: 10px;
    }

    table td img {
      width: 100%;
      height: auto;
      max-width: 30px;
    }

    table tr:last-child td {
      border-bottom: 0;
    }

    table [type="text"] {
      pointer-events: none;
    }

    .is-loading {
      opacity: 0.5;
      pointer-events: none;
    }
    .is-hidden {
      opacity: 0;
    }

    .c-LogInForm {
      max-width: 100%;
    }

  }


  .c-PanelAccount__item {
    //margin-top: 40px;
    padding-bottom: 20px;
    //border-bottom: 1px solid rgba($c-black, 0.2)
  }

  .c-PanelAccount__title {
    margin: 0;
    font-size: 12px;
  }

  .c-PanelAccount__summary {

  }

  .c-PanelAccount__shipping {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $c-border;
  }

  .c-PanelAccount__subtotal {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $c-border;
  }

  .c-PanelAccount__actions {
    margin-top: 20px;

    a {
      margin-bottom: 25px;
    }

    // .c-Button {
    //   margin: 0;
    // }
  }

  .c-PanelAccount__btn {
    // margin-bottom: 30px;
    // text-align: right;

    a,
    span {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 10px;//11px;
      font-family: $f-expanded;
      text-decoration: none;
      color: $c-black;
      letter-spacing: 0.2em;
      transition: color 0.2s ease-in-out;
    }

    a {
      cursor: pointer;

      &:hover {
        color: $c-grey;
      }
    }
}

.c-Panel--account {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
