<template>
  <div class="c-ProductSizes">
    <div
      v-for="(variant, index) in sortedOpts"
      :value="variant"
      :key="index"
      :class="['c-ProductOption__variant']"
    >

      <label :for="option.name">
        <c-radio
          :name="option.name"
          :value="variant"
          v-model="picked"
          :class="{'is-disabled': checkSizeAvailable(variant)}"
          :option-name-prefix="optionNamePrefix"
          :checked="index === activeIndex"
        >
          <div slot="input-box">
            <span :class="['input-box']">
              <span :class="['input-box-circle']" />
            </span>
          </div>
        </c-radio>

        <span :class="{'is-disabled': checkSizeAvailable(variant)}">
          {{ variant.toUpperCase() }}
        </span>

      </label>
    </div>

  </div>
</template>

<script>
import ProductOption from '../ProductOption/ProductOption';
import CRadio from '@/node_modules/six-storyblok-library/src/components/Atoms/Radio/Radio.vue';
import { EventBus } from '@/plugins/event-bus';
import sortOptions from '../../../mixins/products';

export default {
  components:{
    CRadio
  },
  extends: ProductOption,
  mixins: [
    sortOptions
  ],
  props:{
    product:{
      type: Object,
      default: () => {}
    },
    option:{
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      optionName: 'Size',
      picked: null,
      optionNamePrefix: 'checkedOptions',
      availableSizes: [],
      activeIndex: 0,
      sortedOpts: this.sortOptions(this.option.values)
    };
  },
  // computed:{
  //   sortedOpts(){
  //     return this.sortOptions(this.option.values);
  //   }
  // },
  created() {
    this.product.variants.forEach(variant => {
      if(variant.available){
        variant.selectedOptions.forEach(option => {
          if(option.name === 'Size'){
            this.availableSizes.push(option.value.toUpperCase());
          }
        });
      }
    });
  },
  methods: {
    checkSizeAvailable(v) {
      if (!this.availableSizes.includes(v.toUpperCase()))
        return true;
    }
  }
};
</script>

<style src="./ProductSizes.scss" lang="scss"></style>
