.c-ProductSizes {
  .c-ProductOption__variant {
    position: relative;
    margin-right: 15px;
    
    // label {
    //   font-size: 12px;//15px;
    // }
  }

  span.is-disabled:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 15px;
    background-color: $c-black;
    transform: rotate(45deg);
    pointer-events: none;
  }

  .radio-component {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

    label {
      margin: 0;
    }

    input {
      cursor: pointer;
    }

    .label {
      text-decoration: none;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        height: 2px;
        /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
        bottom: -4px;


        /******
        optional values below
        ******/

        /* center - (optional) use with adjusting width   */
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 50%;
        background: green;
      }
    }
  }
}

.c-ProductSizes {
  pointer-events: none;
  
  .c-ProductOption__variant {
    display: inline-block;

    label {
      color: $c-black;
      font-weight: 300;
    }

    &.active {
      label {
        padding-bottom: 5px;
        // border-bottom: 1px solid $c-black;
        font-weight: 500;
      }
    }
  }

  .c-ProductOption__picked {
    position: absolute;
    right: 0;
  }

  .c-ProductOption__label {
    padding-right: 30px;
    width: auto;
  }
    .c-ProductOption__label {
        padding-right: 30px;
        width: auto;
        @include v-spacing('font-size', 9px, 10px);
        @include v-spacing('line-height', 12px, 15px);
    }
}
