<template>
  <v-form
    ref="form"
    v-model="valid"
    :lazy-validation="lazy"
    @submit.prevent="validate()"
    :class="['c-RegisterForm', {'is-loading' : loading}]"
  >
      <div v-if="formErrors.length" class="c-RegisterForm__msg">
        <!-- <b>Please correct the following error(s):</b> -->
        <ul>
          <li
            v-for="(error, index) in formErrors"
            :key="index"
          >
            {{ error }}
          </li>
        </ul>
      </div>
      <div>
        <v-text-field
          v-model="formInput.firstName"
          :rules="rules.name"
          label="First Name"
          required
          class="input--required"
        ></v-text-field>
      </div>
      <div>
        <v-text-field
          v-model="formInput.lastName"
          :rules="rules.surname"
          label="Last Name"
          required
          class="input--required"
        ></v-text-field>
      </div>
      <div>
        <v-text-field
          v-model="formInput.email"
          :rules="rules.email"
          label="Email Address"
          required
          class="input--required"
        ></v-text-field>
      </div>
      <div>
        <v-text-field
          v-model="formInput.password"
          :rules="rules.password"
          label="Password"
          type="password"
          required
          class="input--required"
        ></v-text-field>
        <!-- <span
          v-if="formInput.password.length > 0 && (formInput.password.length < 5 || formInput.password.length > 12)"
          class="instruction"
          style="color: red;"
        >
          Password must contain between 5-12 characters.
        </span> -->
      </div>
      <div>
        <v-text-field
          v-model="formInput.repeat"
          :rules="rules.password"
          label="Repeat Password"
          type="password"
          required
          class="input--required"
        ></v-text-field>
        <span
          v-if="!passwordMatch(formInput.password, formInput.repeat) && formInput.password && formInput.repeat"
          class="c-RegisterForm__error"
          style="color: red;"
        >The passwords do not match.</span>
      </div>
      <!-- <button
        class="c-Button c-Button--invert"
        :class="{'is-disabled' : !passwordMatch(formInput.password, formInput.repeat)}"
        @click="register"
      >
        Register
      </button> -->
      <input
        type="submit"
        value="Register"
        @submit.prevent="validate()"
        :class="['c-Button c-Button--invert', {'is-disabled' : !passwordMatch(formInput.password, formInput.repeat)}]"
      >

      <div class="c-Form__actions">
        <div class="c-Form__action">
          <span class="c-Link__text">Back to</span>
          <button
            class="c-Link c-Link--underline"
            @click.prevent="goToLogIn"
          >
            Log In
          </button>
        </div>
      </div>
    </v-form>
</template>

<script>
import VueRecaptcha from 'vue-recaptcha';
import passwordMatch from '@/node_modules/six-shopify-library/src/mixins/utils';
import { CUSTOMER_CREATE } from '@/node_modules/six-shopify-library/src/gql/customerCreate';
import { EventBus } from '@/plugins/event-bus';

export default {
    components: {
      VueRecaptcha
    },
    mixins: [passwordMatch],
    data() {
      return {
        loading: false,
        formErrors: [],
        formInput: {
          firstName: '',
          lastName: '',
          email: '', // temp
          password: '',
          repeat: '',
          acceptsMarketing: true
        },
        siteKey: this.$store.getters['recaptcha/getSiteKey'],
        valid: true,
        lazy: false,
        rules: {
          name: [
            v => !!v || 'Name is required',
            // v => (v && v.length <= 10) || 'Name must be less than 10 characters',
          ],
          surname: [
            v => !!v || 'Surname is required',
            // v => (v && v.length <= 10) || 'Surname must be less than 10 characters',
          ],
          email: [
            v => !!v || "E-mail is required",
            v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,10})+$/.test(v) || "E-mail must be valid"
          ],
          password: [
            v => !!v || 'Password is required',
            v => (v && v.length >= 5 && v.length <= 12) || 'Password must contain between 5-12 characters',
          ],
        }
      };
    },
    created() {
      EventBus.$on('setLoadingState', (data) => {
        this.loading = data;
      });
    },
    methods: {
      validate () {
        if(this.$refs.form.validate()){
          this.register();
        }
        else{
          console.log('fail');
          console.log(this.errors);
        }
      },
      goToLogIn(){
        this.$parent.tab = '';
      },
      async register() {
        let self = this;
        EventBus.$emit('setLoadingState', true);
        this.formErrors = [];
        if (this.formInput.firstName && this.formInput.lastName && this.formInput.email) {
          this.$apollo.mutate({
            mutation: CUSTOMER_CREATE,
            variables: {
              input: {
                firstName: this.formInput.firstName,
                lastName: this.formInput.lastName,
                acceptsMarketing: this.formInput.acceptsMarketing,
                email: this.formInput.email,
                password: this.formInput.password
              }
            },
          })
            .then((res) => {
              EventBus.$emit('setLoadingState', false);
              let errors = res.data.customerCreate.customerUserErrors;

              console.log('errors:', errors);
              if (errors.length) {
                errors.forEach(e => {
                  self.formErrors.push(e.message);
                });
              } else {
                console.log('redirecting...');
                self.$router.push({path: '/account/login?account_create_success=true'});
              }
            })
            .catch((e) => {
              console.log(e);
              this.formErrors.push('Account creation limit exceeded. Please wait 5 minutes and try again.');
              EventBus.$emit('setLoadingState', false);
            });
        } else {
          EventBus.$emit('setLoadingState', false);
          if (!this.formInput.firstName)
            this.formErrors.push('First name required.');
          if (!this.formInput.lastName)
            this.formErrors.push('Last name required.');
          if (!this.formInput.email)
            this.formErrors.push('Email address required.');
        }
      }
    }
  };
</script>

<style src="./RegisterForm.scss" lang="scss"></style>
