<template>
  <div
    v-editable="blok"
    class="c-ProductAccordion"
  >
    <div
      class="c-ProductAccordion__header"
      @click="toggle"
    >
      <div
        :class="{ minus: show }"
        class="header-icon"
      />

      <slot name="header">
        {{ blok.title }}
      </slot>

    </div>

    <transition
      name="accordion"
      @before-enter="beforeEnter"
      @enter="enter"
      @before-leave="beforeLeave"
      @leave="leave"
    >
      <div
        v-show="show"
        class="c-ProductAccordion__content"
      >
        <div class="c-ProductAccordion__inner">
          <slot>
            <div v-html="blok.content" />
          </slot>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    blok: {
      required: true,
      type: Object,
      default: () => {}
    },
  },
  data() {
    return {
      show: false
    };
  },
  methods: {
    toggle: function() {
      this.show = !this.show;
    },
    // enter: function(el, done) {
    //   $(el).slideDown(150, done);
    // },
    // leave: function(el, done) {
    //   $(el).slideUp(150, done);
    // },
    beforeEnter: function(el) {
      el.style.height = '0';
    },
    enter: function(el) {
      el.style.height = el.scrollHeight + 'px';
    },
    beforeLeave: function(el) {
      el.style.height = el.scrollHeight + 'px';
    },
    leave: function(el) {
      el.style.height = '0';
    }
  }
};
</script>

<style src="./ProductAccordion.scss" lang="scss"></style>
