.c-ProductAccordion {

  margin-bottom: 10px;
  // @include v-spacing('padding', 20px, 50px);
  // @include v-spacing('padding-top', 10px, 30px);
  // @include v-spacing('padding-bottom', 10px, 30px);
  // border-bottom: 1px solid rgba($c-black, 0.1);

  // &:first-child {
  //   border-top: 1px solid rgba($c-black, 0.1);
  // }
}

.c-ProductAccordion__header {
  // @include v-spacing('padding-top', 10px, 30px);
  // @include v-spacing('padding-bottom', 10px, 30px);
  @include v-spacing('font-size', 14px, 14px);
  padding-left: 20px;
  // height: 40px;
  // line-height: 40px;
  position: relative;
  cursor: pointer;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 5px;
}

.c-ProductAccordion .header-icon {
  position: absolute;
  top: 50%;
  left: 0;//8px;
  transform: translateY(-50%);
  transition-duration: 0.3s;
  // background-color: $c-black;
  // width: 10px;
  // height: 10px;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: calc(50% + 4px);
    height: 1px;
    width: 7px;//10px;
    background-color: $c-black;
  }

  &:after {
    height: 7px;//10px;
    width: 1px;
  }

  &.minus {
    &:after {
      display: none;
    }
  }

  svg {
    transform: rotate(0deg);
    transition-duration: 0.3s;
  }
}

.c-ProductAccordion__content {
  @include v-spacing('font-size', 14px, 18px);
  font-weight: 300;
/*   display: none; */
  overflow: hidden;
  transition: 150ms ease-out;

  // @TODO - refactor styles in product.scss (main repo) 
  p,
  a,
  li,
  .p {
    line-height: 1.6!important; 
  }
}

.c-ProductAccordion__inner {
  // @include v-spacing('padding-bottom', 10px, 30px);
  padding-left: 20px;
  overflow-wrap: break-word;
/*   white-space: pre-wrap; */
}

.c-ProductAccordion .header-icon.rotate svg {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}