<template>
  <client-only>
    <div class="c-ProductOptionSize">
      <label
        :for="option.name"
        class="c-ProductOption__label">{{ option.name }}</label>

      <div
        v-for="(variant, index) in sortedOpts"
        :value="variant"
        :key="index"
        :class="['c-ProductOption__variant', {'active': variant === picked}]"
      >
        <label :for="option.name">
          <!--:class="{'is-disabled': checkSizeAvailable(variant)}" -->
          <c-radio
            :name="option.name"
            :value="variant"
            v-model="picked"
            :option-name-prefix="optionNamePrefix"
            :checked="index === activeIndex"
          >
            <div slot="input-box">
              <span :class="['input-box']">
                <span :class="['input-box-circle']" />
              </span>
            </div>
          </c-radio>

          <span :class="{'is-disabled': checkSizeAvailable(variant)}">
            {{ variant }}
          </span>
        </label>
      </div>
      <span class="c-ProductOption__link show-for-xlarge">
        <a
          class="c-Link c-Link--underline"
          @click.prevent="showPanelSizes"
        >
          Size Guide
        </a>
      </span>
    </div>
  </client-only>
</template>

<script>
//@TODO - add css classes

import ProductOption from '../ProductOption/ProductOption';
import CRadio from '@/node_modules/six-storyblok-library/src/components/Atoms/Radio/Radio.vue';
import { EventBus } from '@/plugins/event-bus';
import showPanelSizes from '../../../mixins/panels';
import sortOptions from '../../../mixins/products';

export default {
  components:{
    CRadio
  },
  extends: ProductOption,
  mixins: [
    showPanelSizes,
    sortOptions
  ],
  props:{
    option:{
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      optionName: 'Size',
      optionNamePrefix: 'checkedOptions',
      selectedColor: null,//@TODO - should not be in this cnt
      availableSizes: [],
      activeIndex: 0,
      // picked: '',
      sortedOpts: this.sortOptions(this.option.values)
    };
  },
  // computed:{
  //   sortedOpts(){
  //     return this.sortOptions(this.option.values);
  //   }
  // },
  watch: {
    selectedColor() {
      let availableSizesObj = this.availableVariants.find(x => x.color === this.selectedColor);
      if (availableSizesObj && availableSizesObj.sizes.length) {
        let availableSizes = availableSizesObj.sizes.filter(e => this.option.values.some(p => e.includes(p)));
        availableSizes.forEach(function(part, index, theArray) {
          theArray[index] = theArray[index].substring(0, theArray[index].indexOf('/'));
          theArray[index] = theArray[index].replace(/\s+/g, '');
        });
        this.availableSizes = availableSizes;
        let currentPicked = this.availableSizes.find(e => e === this.picked);
        if (currentPicked) {
          this.picked = currentPicked;
          // this.activeIndex = null;
        } else {
          this.picked = this.sortedOpts[0];
          this.activeIndex = 0;
        }
      } else {
        this.availableSizes = [];
      }
    },
    picked() {//@TODO - dont need both
      EventBus.$emit('productOptionUpdated', this.optionName, this.picked);
    }
  },
  mounted() {
    let self = this;

    EventBus.$on('productOptionUpdated', (name, pickedColor) => { //@TODO - shouldn't cross reference cnts this way
      if(name.toLowerCase() !== 'color') { return false; }
      self.selectedColor = pickedColor;
    });

    EventBus.$on('availableVariantsSet', (data) => {
      self.availableVariants = data;
      if (!data.some(obj => obj.hasOwnProperty('color'))){
        self.availableSizes = data.filter(x => self.option.values.includes(x));
      }
    });

    this.checkSizeAvailable();
  },
  beforeDestroy(){
    EventBus.$off('productOptionUpdated');
    EventBus.$off('availableVariantsSet');
  },
  methods: {
    checkSizeAvailable(v) {
      if ((this.selectedColor && !this.availableSizes.includes(v)) || !this.availableSizes.includes(v))
        return true;
    }
  }
};
</script>

<style src="./ProductOptionSize.scss" lang="scss"></style>
