<template>
  <div/>

</template>

<script>
import { EventBus } from '@/plugins/event-bus';

export default {

  props:{
    option:{
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      picked: null,
      optionNamePrefix: 'checkedOptions'
    };
  },
  // mounted(){
  //   EventBus.$emit('productOptionMounted', this.optionName, this.picked);
  // },
  methods:{
    onChange(name) {
      EventBus.$emit('productOptionUpdated', name, this.picked);
    },
    active(){
      return ' active ';
    },
  },
};
</script>

<style src="./ProductOption.scss" lang="scss"></style>
