.c-ProductGalleryMobile {
  position: relative;
  z-index: 0;
  display: none;

  @include breakpoint(xmedium down) {
    display: block;
  }

  .slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
  }

  .slider-indicators {
    padding: 20px 0;
    bottom: 0;
    // top: 0;
    display: flex;
    flex-direction: row;//column;
    left: 0!important;//1.25rem
    // height: 100%;
    width: 100%; // custom
    align-items: center;
    justify-content: center;//flex-end;//center;
  }

  .slider-indicator-icon {
    width: 4px!important;
    height: 4px!important;
    background: $c-grey;
    margin: 4px!important; //4px 0!important;
  }

  .slider-indicator-icon.slider-indicator-active {
    width: 6px!important;
    height: 6px!important;
    background: $c-black;
    margin: 2px 4px!important; //2px 0!important;
  }
}