<template>
  <Slider
    :autoplay="false"
    :control-btn="false"
    :key="sliderIndex"
    indicators="left"
    class="c-ProductGalleryMobile"
    height="63vh"
  >
    <slider-item
      v-for="(i, index) in variantImages"
      :key="index"
      :style="i"
    >
      <!-- <img
          :src="i.src"
        > -->
      <v-lazy-image
        v-if="i"
        :src="i.src"
        :srcset="getSrcset(i)"
        alt="#"
        sizes="(max-width: 320px) 320px, (max-width: 640px) 640px, 1024px" />
    </slider-item>
    <div slot="loading"><!--Custom loading ...--></div>
  </Slider>
</template>

<script>
import VuePureLightbox from 'vue-pure-lightbox';
import { EventBus } from '@/plugins/event-bus';
import buildVariantImagesFromOption from '../../../mixins/products';

export default {
  components: {
    VuePureLightbox
  },
  mixins: [
    buildVariantImagesFromOption
  ],
  props: {
    images: {
      type: Array,
      default: () => [],
      required: true
    },
    options: {
      type: Array,
      default: () => [],
    },
    variantID: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      variantImages: (this.variantID ? this.variantImages : this.images),
      triggerOptions: [
        'Color'
      ],//@TODO - test without trigger options, add conditions
      possibleAltTags: [],
      imageChange: '',
      open: false,
      sliderIndex: 0
    };
  },
  created() {
    let self = this;
    this.setPossibleOptAltTags();//@TODO - needed??
    EventBus.$on('variantSelected', (selectedVariant, selectedOptions) => {
      self.updateProductVariantImages(
        self.images,
        self.possibleAltTags,
        selectedOptions,
        self.triggerOptions
      );
      self.forceRerender();
    });
  },
  beforeDestroy() {
    EventBus.$off('variantSelected');
  },
  methods: {
    getSrcset(img) {
      let thumbnail = img.originalSrc,
        small = thumbnail.replace('.jpg', '_400x800.jpg'),
        medium = thumbnail.replace('.jpg', '_450x900.jpg'),
        large = img.src;
      return `${small} 320w, ${medium} 640w, ${large} 1024w`;
    },
    updateProductVariantImages(images, possibleAltTags, selectedOptions, triggerOptions){
      let getVariantImages = this.buildVariantImagesFromOption(
        images,
        possibleAltTags,
        selectedOptions,
        triggerOptions
      );

      if(this.variantImages !== getVariantImages && getVariantImages.length >= 1){
        this.variantImages = getVariantImages;
        this.imageChange = getVariantImages[0].id + getVariantImages.length;
      }

      if(!getVariantImages.length) {
        this.variantImages = this.images;
        this.imageChange = '';
      }
    },
    setPossibleOptAltTags(){
      this.possibleAltTags = this.buildPossibleOptAltTags(this.triggerOptions, this.options);
    },
    openModal() {
      this.open = true;
    },
    closeModal(index) {
      this.open = false;
      this.$refs.lightbox[index].hide();
    },
    forceRerender() {
      this.sliderIndex += 1;
    }
  }
};
</script>

<style src="./ProductGallerySlider.scss" lang="scss"></style>
