<template>
  <div :class="['c-PanelSizes', {'is-loading': loading}]">
    <header class="c-PanelSizes__header">
      <h3>mobile</h3>
      <div class="c-PanelSizes__btn">
        <div
          class="c-PanelSizes__title"
        >
          Size Guide (mobile)
          <h1>current: {{ $mq }}</h1>
        </div>

        <div class="c-PanelSizes__actions">
          <ul>
            <li>
              <button
                :class="['c-PanelSizes__unit', {'c-PanelSizes__unit--active': unit === 'cm'}]"
                @click.prevent="changeUnit('cm')"
              >
                CM
              </button>
            </li>
            <li>
              <button
                :class="['c-PanelSizes__unit', {'c-PanelSizes__unit--active': unit === 'in'}]"
                @click.prevent="changeUnit('in')"
              >
                IN
              </button>
            </li>
          </ul>
        </div>
      </div>
      <button
        @click.prevent="closePanel"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14.207"
          height="14.207"
          viewBox="0 0 14.207 14.207"><g transform="translate(-340.197 -22.146)"><line
            y1="13.5"
            x2="13.5"
            transform="translate(340.551 22.5)"
            fill="none"
            stroke="#7f7f7f"
            stroke-width="1"/><line
              x1="13.5"
              y1="13.5"
              transform="translate(340.551 22.5)"
              fill="none"
              stroke="#7f7f7f"
              stroke-width="1"/></g></svg>
      </button>
    </header>

    <client-only>
      <div class="c-PanelSizes__inner">
        <div class="c-Table__title show-for-medium">
          Another Tomorrow <br>
          Size
        </div>

        <!-- Table -->
        <table class="c-PanelSizes__table--mobile hide-for-medium">
          <thead>
            <tr>
              <th class="text-left">AT SIZE</th>
              <th>XS</th>
              <th>S</th>
              <th>M</th>
              <th>L</th>
              <th>XL</th>
              <th>XXL</th>
            </tr>
          </thead>

          <tbody v-if="sizes">
            <tr>
              <td class="text-left">Bust</td>
              <td
                v-for="(size, index) in sizes"
                :key="index"
              >{{ getSize(size.bust) }}xx</td>
            </tr>
            <tr>
              <td class="text-left">Waist</td>
              <td
                v-for="(size, index) in sizes"
                :key="index"
              >{{ getSize(size.waist) }}</td>
            </tr>
            <tr>
              <td class="text-left">Hip</td>
              <td
                v-for="(size, index) in sizes"
                :key="index"
              >{{ getSize(size.hip) }}</td>
            </tr>
          </tbody>
        </table>

        <!-- Table -->
        <table class="Xshow-for-medium">
          <thead>
            <tr>
              <th width="12.5%">US</th>
              <th width="12.5%">UK</th>
              <th width="12.5%">FR</th>
              <th
                class="highlighted-country u-weight--medium"
                width="25%">IT</th>
              <th width="12.5%">Bust</th>
              <th width="12.5%">Waist</th>
              <th width="12.5%">HIP</th>
            </tr>
          </thead>

          <tbody v-if="sizes">
            <tr
              v-for="(size, index) in sizes"
              :key="index">

              <td>{{ size.us }}</td>
              <td>{{ size.uk }}</td>
              <td>{{ size.fr }}</td>
              <td class="highlighted-country u-weight--medium">{{ size.it }}</td>

              <td>{{ getSize(size.bust) }}</td>
              <td>{{ getSize(size.waist) }}</td>
              <td>{{ getSize(size.hip) }}</td>
            </tr>
          </tbody>
        </table>
        <p>Hip measurements should be taken at the widest point.</p>
        <p>Model is wearing a size {{ modelSize }}</p>
      </div>
    </client-only>
  </div>
</template>

<script>
import sizesJSON from '../../../data/sizes.json';

export default {
  data() {
    return {
      loading: false,
      unit: 'cm',
      sizes: sizesJSON.sizes
    };
  },
  computed: {
    modelSize(){
      return this.$store.state.shopify.product.modelSize;
    }
  },
  mounted(){
    console.log(1234567);
  },
  methods: {
    closePanel() {
      this.$emit('closePanel', {});
    },
    changeUnit(unit) {
      this.unit = unit;
    },
    getSize(size) {
      let defaultSize = size.split('-');

      const inch = 0.39370079;

      if(this.unit === 'in'){
        return Math.round(Number(defaultSize[0])*inch) + '-' + Math.round(Number(defaultSize[1])*inch);
      } else {
        return size;
      }
    },
  }
};
</script>

<style src="./PanelSizesMobile.scss" lang="scss"></style>
