<template>
  <div class="c-CollectionBox">
    <nuxt-link :to="'/collections/'+getSlug(collection.title)">
      <div
        :style="`padding-bottom: ${aspectRatio}%`"
        class="c-CollectionBox__img c-Image--aspectRatio">
        <v-lazy-image
          v-if="src"
          :src="src"
          :srcset="getSrcset"
          :alt="collection.title"
          sizes="(max-width: 320px) 320px, (max-width: 640px) 640px, 1024px" />
        <v-lazy-image
          v-else
          :alt="collection.title"
          src="//placehold.it/620x870" />
      </div>
      <!-- <img
        v-if="collection.image"
        :src="collection.image.transformedSrc"
        alt="#" >
      <img
        v-else
        src="//placehold.it/620x870"
        alt="#"> -->

      <div class="u-relative">
        <h5 class="c-Collection__title">{{ collection.title }}</h5>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import getAspectRatio from '@/node_modules/six-storyblok-library/src/mixins/image';

export default {
  mixins: [
    getAspectRatio
  ],
  props: {
    collection: {
      type: Object,
      required: true
    }
  },
  data: function() {
    return {
      width: 1200, // default
      height: 1600 // default
    };
  },
  computed:{
    image(){
      return JSON.parse(this.collection.image);
    },
    src(){
      let img = null;
      if(this.image) {

        img = this.image && this.image.transformedSrc ? this.image.transformedSrc : null;

        if (!img) {
          img = this.image.src.replace('.jpg', '_700x1400.jpg');
        }

        console.log('img');
        console.log(img);
      }

      return img;

    },
    getSrcset() {
      let srcSet = '';
      if(this.hasImage()){

        let thumbnail = this.src;
        //console.log('thumbnail:');
        //console.log(thumbnail);
        let small = thumbnail.replace('.jpg', '_400x800.jpg');
        let medium = thumbnail.replace('.jpg', '_450x900.jpg');
        //let large = thumbnail.replace('.jpg', '_450x900.jpg');
        let large = this.image.src;
        srcSet = `${small} 320w, ${medium} 640w, ${large} 1024w`;
      }
      return srcSet;
    },
    aspectRatio() {
      return this.getAspectRatio(this.width, this.height, true);
    }
  },
  mounted(){
    //console.log('mounted() - this.collection:');
    //console.log(this.collection);

    let self = this;
    let img = new Image();
    if(this.hasImage()){
      img.src = self.src;
      img.onload = function() {
        self.width = img.width;
        self.height = img.height;
      };
    }
  },
  methods:{
    getSlug(name){
      return name
        .toLowerCase()
        .replace(/ /g,'-')
        .replace(/[^\w-]+/g,'');
    },
    hasImage(){
      let hasImage = false;
      if(Object.prototype.hasOwnProperty.call(this, 'collection')) {
        if (typeof this.collection !== 'undefined') {
          if (Object.prototype.hasOwnProperty.call(this.collection, 'image')) {
            if (typeof this.collection.image !== 'undefined') {
              if (Object.prototype.hasOwnProperty.call(this.collection.image, 'transformedSrc')) {
                if (typeof this.collection.image.transformedSrc !== 'undefined') {
                  hasImage = true;
                }
              }
            }
          }
        }
      }
      return hasImage;
    }
  }
};
</script>

<style src="./CollectionBox.scss" lang="scss"></style>
