.c-CollectionBox img {
    width: 100%;
    height: auto;
}

.c-CollectionBox a > span {
    display: block;
    clear: both;
}

.c-CollectionBox {
    font-size: 12px;
    font-weight: 300;

    & > a {
        display: block;
        position: relative;
    }

    a {
      color: #000;
      text-decoration: none;
      //transition: opacity 0.2s;

    //   &:hover {
    //     opacity: 0.5;
    //   }
    }

    .c-Collection__title {
        // @include v-spacing('font-size', 9px, 9px);
        @include v-spacing('line-height', 14px, 16px);
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-family: $f-expanded;
        font-weight: bold;

        @include v-spacing('font-size', 10px, 12px);

        @include breakpoint(large) {
            max-width: 70%;
        }
    }
}


.c-CollectionBox {
    // margin: 15px auto;
    position: relative;

    ul {
        text-transform: uppercase;
    }

    .c-Product__title,
    .c-Product__price,
    .c-CollectionBox__options {
        transition: opacity .6s; // 0.2s ease-in-out;

        @include breakpoint(large) {
            opacity: 0;
        }
    }

    .c-Product__title {
        margin-bottom: 10px;

        @include breakpoint(medium down) {
            margin-bottom: 0;
        }
    }

    &:hover {
        .c-Product__title {
            @include breakpoint(large) {
                opacity: 1;
            }
        }
    }
}

.c-CollectionBox__img {
    margin-bottom: 20px;
    // position: relative;
    // overflow: hidden;
    // padding-bottom: 133.33%;
    // height: 0;

    // img {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //     object-position: top;
    // }
}