<template>
  <div :class="['c-EditDetailForm', {'is-loading' : loading}]">
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
      @submit.prevent="validate()"
    >
      <span v-show="formError" style="color: red">{{ formError }}</span>

      <div class="grid-x">
        <div class="cell medium-6">
          <div class="c-EditDetails__firstname">
            <v-text-field
              v-model="detailsObj.firstName"
              :rules="rules.name"
              label="First Name"
              required
              class="input--required"
            ></v-text-field>
          </div>
        </div>

        <div class="cell medium-14 left-gutter-pad">
          <div class="c-EditDetails__lastname">
            <v-text-field
              v-model="detailsObj.lastName"
              :rules="rules.surname"
              label="Last Name"
              required
              class="input--required"
            ></v-text-field>
          </div>
        </div>

        <div class="cell medium-14">
          <div class="c-EditDetails__emailaddress">
            <v-text-field
              v-model="detailsObj.email"
              :rules="rules.email"
              label="Email Address"
              required
              class="input--required"
            ></v-text-field>
          </div>
        </div>

        <div class="cell medium-6 left-gutter-pad">

          <div class="c-EditDetails__contactnumber">
            <v-text-field
              v-model="detailsObj.phone"
              label="Contact No."
            ></v-text-field>
          </div>
        </div>
      </div>

      <div class="grid-x">
        <!--<div class="cell medium-20 marketing">
          <label for="marketing">
            <input type="checkbox" id="marketing" name="marketing" v-model="detailsObj.acceptsMarketing" :checked="detailsObj.acceptsMarketing">
            I accept email marketing</label>
        </div>-->
        <div class="cell medium-20 marketing">

            <v-checkbox
              v-model="detailsObj.acceptsMarketing"
              :checked="detailsObj.acceptsMarketing"
              id="marketing"
              name="marketing"
              label="I accept email marketing"
            ></v-checkbox>

        </div>
        <div class="cell medium-6 save ">
          <input
            type="submit"
            class="c-Button c-Button--invert"
            value="Save"
            @submit.prevent="validate()"
          >
        </div>
      </div>
    </v-form>
  </div>
</template>

<script>
import { CUSTOMER_UPDATE } from '../../../gql/customerUpdate'
import { EventBus } from "@/plugins/event-bus";

export default {
  props: ['details'],
  methods: {
    async updateDetails() {

      let token = this.$auth.getToken('local');
      console.log('updateDetails() - token:');
      console.log(token);
      //console.log(this.detailsObj);

      try {
        EventBus.$emit('setLoadingState', true);
        this.formError = "";
        this.$apollo.mutate({
          mutation: CUSTOMER_UPDATE,
          variables: {
            customerAccessToken: token,
            customer: {
              firstName: this.detailsObj.firstName,
              lastName: this.detailsObj.lastName,
              email: this.detailsObj.email,
              phone: this.detailsObj.phone,
              acceptsMarketing: this.detailsObj.acceptsMarketing
            }
          }
        }).then((res) => {


          let customer = res.data.customerUpdate.customer;
          console.log('customer:');
          console.log(customer);

          this.$auth.setUser(customer);

         // this.$store.dispatch('updateCustomer', customer);

          EventBus.$emit('setLoadingState', false);
          this.$router.push({ path: '/account/details' });
          this.$emit('close');
        }).catch((e) => {
          console.log(e);
          this.formError = "Whoops, something went wrong. Please ensure you're entering a valid email address.";
          EventBus.$emit('setLoadingState', false)
          // handle errors here
        })
      }
      catch(e) {
        console.log(e)
        // handle errors here
      }
    },
    validate () {
      if(this.$refs.form.validate()){
        this.updateDetails();
      }
      else{
        console.log('fail');
        console.log(this.errors);
      }
    },
  },
  created() {
    EventBus.$on('setLoadingState', (data) => {
      this.loading = data
    })
  },
  computed: {
    buildDisplayName(){
      let firstName = '';
      if(Object.prototype.hasOwnProperty.call(this.details, 'firstName')){
        if(typeof (this.details['firstName']) === 'string'){
          if(this.details.firstName.trim() !== ''){
            firstName = this.details.firstName.trim();
          }
        }
      }
      let lastName = '';
      if(Object.prototype.hasOwnProperty.call(this.details, 'lastName')){
        if(typeof (this.details['lastName']) === 'string') {
          if (this.details.lastName.trim() !== '') {
            lastName = this.details.lastName.trim();
          }
        }
      }
      return firstName + ' ' + lastName;
    },
  },
  data() {
    return {
      detailsObj: {
        firstName: this.details.firstName,
        lastName: this.details.lastName,
        displayName: this.buildDisplayName,
        email: this.details.email,
        phone: this.details.phone,
        acceptsMarketing: this.details.acceptsMarketing
      },
      loading: false,
      formError: "",
      valid: true,
      lazy: false,
      rules: {
        name: [
          v => !!v || 'Name is required',
          // v => (v && v.length <= 10) || 'Name must be less than 10 characters',
        ],
        surname: [
          v => !!v || 'Surname is required',
          // v => (v && v.length <= 10) || 'Surname must be less than 10 characters',
        ],
        email: [
          v => !!v || "E-mail is required",
          v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,10})+$/.test(v) || "E-mail must be valid"
        ],
      }
    }
  },
  mounted(){
    //console.log(1);
  }
}
</script>

<style src="./EditDetails.scss" lang="scss"></style>
