<template>
  <div :class="['c-PanelBag', {'is-loading': loading}]">
    <header class="c-PanelBag__header">
      <div class="c-Panel__title">
        <span>Bag <client-only v-if="lineItems.length">{{ getBagQuantity(lineItems) }}</client-only></span>
      </div>
      <button
        @click.prevent="closePanel"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14.207"
          height="14.207"
          viewBox="0 0 14.207 14.207"><g transform="translate(-340.197 -22.146)"><line
            y1="13.5"
            x2="13.5"
            transform="translate(340.551 22.5)"
            fill="none"
            stroke="#000"
            stroke-width="1"/><line
              x1="13.5"
              y1="13.5"
              transform="translate(340.551 22.5)"
              fill="none"
              stroke="#000"
              stroke-width="1"/></g></svg>
      </button>
    </header>

    <client-only>
      <div class="c-PanelBag__inner">
        <div
          v-if="lineItems.length"
          class="c-PanelBag__items">
          <div
            v-for="lineItem in lineItems"
            :key="lineItem.id"
            class="c-PanelBag__item">
            <div class="grid-x Xgrid-margin-x">
              <div class="small-4 cell image">
                <img
                  v-if="lineItem.variant.image"
                  :src="getLineItemThumbnailUrl(lineItem)"
                  alt=""
                  class="c-PanelBag__img">
              </div>

              <div class="small-14 small-offset-2 medium-11 medium-offset-0 cell title">
                <h6 class="c-PanelBag__title">{{ lineItem.title }}</h6>

                <div
                  v-for=" (option, index) in lineItem.variant.selectedOptions"
                  :key="index"
                >
                  {{ option.name }} - {{ option.value }}
                </div>

                <div>x{{ lineItem.quantity }}</div>

                <!--<pre>
                  {{ lineItem }}
                </pre>-->
              </div>

              <div class="medium-5 cell u-align--right">
                <div
                  v-if="lineItem.variant.presentmentPrices"
                  class="show-for-medium">
                  <span
                    v-for="(p, index) in lineItem.variant.presentmentPrices"
                    :key="index">
                    <span v-if="p.price.currencyCode === activeCurrency">
                      {{ formatPrice(p.price.amount * lineItem.quantity) }} {{ activeCurrency }}
                      <!--{{ p.price.amount * lineItem.quantity }} {{ activeCurrency }}-->
                    </span>
                  </span>
                </div>

                <button
                  class="c-Link c-Link--underline"
                  @click="removeLineItem(lineItem.id)">Remove</button>
              </div>
            </div>
          </div>


        </div>
        <div
          v-if="lineItems.length"
          class="c-PanelBag__summary">
          <div class="c-PanelBag__shipping grid-x">
            <div class="small-10 cell">Shipping</div>
            <div class="small-10 cell u-align--right">Calculated at checkout</div>
          </div>

          <div class="c-PanelBag__subtotal grid-x">
            <div class="small-10 cell">Subtotal</div>
            <div class="small-10 cell u-align--right">{{ formatPrice(showSubtotal) }} {{ activeCurrency }}</div>
          </div>

          <div class="c-PanelBag__actions">
            <a
              :href="checkoutUrl"
              class="btn-link"
            >
              <button class="c-Button c-Button--invert">Checkout</button>
            </a>

            <div
              class="c-Link c-Link--underline"
              @click.prevent="goToBagPage"
            >
              View Shopping Bag
            </div>
          </div>
        </div>
        <div
          v-else
          class="c-PanelBag__no-items"
        >
          <div class="mb20">No items</div>
          <button
            class="c-Link c-Link--underline"
            @click.prevent="closePanel"
          >
            Continue Shopping
          </button>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import formatPrice from '../../../mixins/utils';
import fetchPresentmentPrices from '../../../mixins/products';
import { EventBus } from '@/plugins/event-bus';
import Multipassify from 'multipassify';
import getBagQuantity from '../../../mixins/cart';

export default {
  mixins: [
    formatPrice,
    fetchPresentmentPrices,
    getBagQuantity
  ],
  // store: sfyStore,
  data() {
    return {
      loading: false,
      checkoutUrl: this.$store.getters['shopify/cart/getCheckoutUrl'], //shopify/cart/getCheckoutUrl
    };
  },
  computed: {
    lineItems() {
      // shopify/cart/getCheckoutObject
      //console.log(this.$store.getters['shopify/cart/getCheckoutObject'].lineItems);

      return this.$store.getters['shopify/cart/getCheckoutObject'].lineItems || 0;
    },
    showSubtotal() {
      // shopify/cart/getCheckoutSubtotal
      // return this.$store.getters['shopify/cart/getCheckoutSubtotal'].amount;

      let price = 0;

      this.lineItems.forEach(lineItem => {
        lineItem.variant.presentmentPrices.forEach(item => {
          if(item.price.currencyCode === this.activeCurrency){
            price += ((Number(item.price.amount) ) * lineItem.quantity);
          }
        });
      });

      return price;
    },
    getMiniCartStatus() {
      // shopify/cart/getMiniCartStatus
      return this.$store.getters['shopify/cart/getMiniCartStatus'];
    },
    // ...mapState('cart', ['checkoutObject'])
    ...mapState(['checkoutObject'])
  },
  created(){
    EventBus.$on('updatingCart', (data) => {
      this.loading = data;
    });
  },
  mounted() {
    if (this.user) {
      let multipassify = new Multipassify(process.env.MULTI_PASSIFY_SECRET),
        customerData = {
          email: this.user.email,
          created_at: new Date().toISOString(),
          // remote_ip: '80.2.20.209', // needs generating dynamically for added security
          return_to: this.$store.getters['shopify/cart/getCheckoutUrl']
        },
        token = multipassify.encode(customerData),
        url = multipassify.generateUrl(customerData, 'another-tomorrow.myshopify.com'); // base url needs replacing with live url
      // console.log(customerData);
      // console.log(url);
      //console.log('customer logged in!');
      this.checkoutUrl = url;
    }
    //console.log(this.$store.getters['shopify/cart/getCheckoutObject']);
  },
  methods: {
    closePanel() {
      this.$emit('closePanel', {});
    },
    goToBagPage() {
      this.$emit('closePanel', {});
      this.$router.push('/bag');
    },
    removeLineItem(id) {
      this.loading = true;
      // shopify/cart/getCheckoutID
      this.$shopify.checkout.removeLineItems(this.$store.getters['shopify/cart/getCheckoutID'], [id]).then(checkout => {
        this.fetchPresentmentPrices(checkout);
      });
    },
    updateLineItemQuantity(id, quantity, increment = true) {
      let item = [{
        id: id,
        quantity: (increment ? quantity + 1 : quantity - 1)
      }];
      // do not allow quantity to fall below 1
      if (quantity === 1 && !increment)
        return;
      this.loading = true;
      // shopify/cart/getCheckoutID
      this.$shopify.checkout.updateLineItems(this.$store.getters['shopify/cart/getCheckoutID'], item).then(checkout => {
        this.fetchPresentmentPrices(checkout);
      });
    },
    getLineItemThumbnailUrl(lineItem) {
      return lineItem.variant.image.src.substring(0, lineItem.variant.image.src.indexOf('.jpg')) + '_100x.jpg';
    }
  }
};
</script>

<style src="./PanelBag.scss" lang="scss"></style>
