.c-PanelBag__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;//30px;

  @include breakpoint(xmedium down) {
    border-bottom: 1px solid $c-border;
  }

  @include breakpoint(large) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  button {
    display: inline-block;
    width: auto;
    text-align: right;
    line-height: 1;

    &:hover{
      svg{
        line{
          stroke: $c-grey;
        }
      }
    }
  }

  .c-PanelBag__btn {
    display: inline-block;
    width: 50%;
  }
}

.c-PanelBag__inner {
    margin: 0 auto;
    padding: 0 30px;
    // padding: 20px 30px 30px;
    // border: 1px solid #ccc;
    // max-width: calc(100% - 20px);
    background-color: #fff;
    z-index: 20;
    transition: opacity .2s ease;

    @include breakpoint(xmedium down) {
      margin-top: 40px;
    }

    @include breakpoint(large) {
      width: 600px;//550px;
      // max-width: calc(100% - 20px);
      height: 100vh;
      padding: 0 50px;//100px 50px 30px;
      // overflow-y: scroll;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    table {
      width: 100%;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }

    table td {
      border-bottom: 1px solid #ccc;
      padding: 10px;
    }

    table td img {
      width: 100%;
      height: auto;
      max-width: 30px;
    }

    table tr:last-child td {
      border-bottom: 0;
    }

    table [type="text"] {
      pointer-events: none;
    }

    .is-loading {
      opacity: 0.5;
      pointer-events: none;
    }
    .is-hidden {
      opacity: 0;
    }

  }

  .c-PanelBag__items,
  .c-PanelBag__no-items {
    @include breakpoint(large) {
      padding: 0;
    }
  }

  .c-PanelBag__items {
    @include breakpoint(large) {
      padding-top: 80px;
      padding-bottom: 80px;
      overflow-y: scroll;
      max-height: 550px;
      padding-right: 30px;

    }

  }


  .c-PanelBag__item {
    //margin-top: 40px;
    padding-bottom: 20px;
    //border-bottom: 1px solid rgba($c-black, 0.2)

    &:not(:first-child) {
      @include breakpoint(medium down) {
        padding-top: 20px;
        border-top: 1px solid $c-border;
      }
    }
  }

  .c-PanelBag__title {
    margin-top: 0;
  }

  .c-PanelBag__summary {
    margin-bottom: 30px;

  }

  .c-PanelBag__shipping {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $c-border;
  }

  .c-PanelBag__subtotal {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $c-border;
  }

  .c-PanelBag__actions {
    margin-top: 20px;

    a {
      margin-bottom: 25px;
    }

    // .c-Button {
    //   margin: 0;
    // }
  }

  .c-PanelBag__btn {
    // margin-bottom: 30px;
    // text-align: right;

    a {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 10px;//11px;
      font-family: $f-expanded;
      text-decoration: none;
      color: $c-grey;
      letter-spacing: 0.2em;
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $c-black;
      }

    }
}

.c-Panel--bag {
    width: 50%;

    @include breakpoint(large) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

.c-PanelBag__no-items {
  font-weight: 300;
}

.c-Panel__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;//11px;
  font-family: $f-expanded;
  text-decoration: none;
  color: $c-grey;
  letter-spacing: 0.2em;
  // cursor: pointer;
  // transition: color 0.2s ease-in-out;
}
