<template>
  <div class="c-CurrencySwitcherList">
    <client-only>
      <ul
        class="c-CurrencySwitcherList__currencies"
      >
        <li class="back">
          <button
            class="c-Nav__item c-Nav__item--back"
            @click="goBack()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="8.363"
              height="14.559"
              viewBox="0 0 8.363 14.559"
            >
              <g transform="translate(348.207 36.707) rotate(180)">
                <path
                  d="M0,6.5,6.081.813,6.949,0"
                  transform="translate(340.551 29.5)"
                  fill="none"
                  stroke="#7f7f7f"
                  stroke-linecap="square"
                  stroke-width="1"/>
                <line
                  x1="6.949"
                  y1="7"
                  transform="translate(340.551 22.5)"
                  fill="none"
                  stroke="#7f7f7f"
                  stroke-width="1"/>
              </g>
            </svg> Back
          </button>
        </li>
        <li
          v-for="(currency, index) in currencies"
          :key="index"
          :value="currency"
          @click="setActiveCurrency(currency)"
        >
          <span :class="['c-CurrencySwitcherList__currency', {'c-CurrencySwitcherList__currency--active': currency === activeCurrency}]">
            {{ getCurrencyName(currency) }} ({{ currency }})
          </span>
        </li>
      </ul>
    </client-only>
  </div>
</template>

<script>
// import { SHOP_PROFILE_CURRENCIES } from '../../../gql/shopProfileCurrencies';
// import sfyStore from '../../../store/index';

export default {
  // store: sfyStore,
  data() {
    return {
      defaultCurrency: '',
      display: false,
      currenciesData: {
        'AUD': {
          'symbol': 'AU$',
          'name': 'Australian Dollar',
          'symbol_native': '$',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'AUD',
          'name_plural': 'Australian dollars'
        },
        'CAD': {
          'symbol': 'CA$',
          'name': 'Canadian Dollar',
          'symbol_native': '$',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'CAD',
          'name_plural': 'Canadian dollars'
        },
        'EUR': {
          'symbol': '€',
          'name': 'Euro',
          'symbol_native': '€',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'EUR',
          'name_plural': 'euros'
        },
        'DKK': {
          'symbol': 'Kr',
          'name': 'Danish Krone',
          'symbol_native': 'Kr',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'DKK',
          'name_plural': 'krones'
        },
        'SEK': {
          'symbol': 'Kr',
          'name': 'Swedish Krone',
          'symbol_native': 'Kr',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'SEK',
          'name_plural': 'krones'
        },
        'GBP': {
          'symbol': '£',
          'name': 'British Pound Sterling',
          'symbol_native': '£',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'GBP',
          'name_plural': 'British pounds sterling'
        },
        'HKD': {
          'symbol': 'HK$',
          'name': 'Hong Kong Dollar',
          'symbol_native': '$',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'HKD',
          'name_plural': 'Hong Kong dollars'
        },
        'JPY': {
          'symbol': '¥',
          'name': 'Japanese Yen',
          'symbol_native': '￥',
          'decimal_digits': 0,
          'rounding': 0,
          'code': 'JPY',
          'name_plural': 'Japanese yen'
        },
        'NZD': {
          'symbol': 'NZ$',
          'name': 'New Zealand Dollar',
          'symbol_native': '$',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'NZD',
          'name_plural': 'New Zealand dollars'
        },
        'SGD': {
          'symbol': 'S$',
          'name': 'Singapore Dollar',
          'symbol_native': '$',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'SGD',
          'name_plural': 'Singapore dollars'
        },
        'USD': {
          'symbol': '$',
          'name': 'US Dollar',
          'symbol_native': '$',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'USD',
          'name_plural': 'US dollars'
        },
      }
    };
  },
  // created() {
  //   this.defaultCurrency = this.activeCurrency;
  //   this.$apollo.query({
  //     query: SHOP_PROFILE_CURRENCIES
  //   })
  //     .then((res) => {
  //       let data = res.data.shop.paymentSettings.enabledPresentmentCurrencies;

  //       //console.log('res.data.shop.paymentSettings:');
  //       //console.log(res.data.shop.paymentSettings);

  //       if (data)
  //         this.$root.$store.dispatch('shopify/currency/setCurrencies', data);
  //     })
  //     .catch((e) => {
  //       console.log(e);
  //     });
  // },
  computed:{
    currencies(){
      return this.$store.getters['shopify/currency/getCurrencies'];
    },
  },
  mounted() {
    //console.log(this.$store.getters['shopify/currency/activeCurrency']);
    //console.log(this.$store.getters['shopify/currency/currencies']);
  },
  methods: {
    // setActiveCurrency(e) {
    //   this.$store.dispatch('setActiveCurrency', e.target.value);
    // },
    goBack() {
      this.$parent.toggleCurrencies();
    },
    setActiveCurrency(currency) {
      this.$parent.toggleCurrencies();
      this.$store.dispatch('shopify/currency/setActiveCurrency', currency);
      this.defaultCurrency = this.activeCurrency;
      this.display = false;
    },
    showCurrencies() {
      this.display = true;
    },
    getCurrencyName(currency) {
      return this.currenciesData[currency].name;
    }
  }
};
</script>

<style src="./CurrencySwitcherList.scss" lang="scss"></style>
