.c-CurrencySwitcherList {
    display: inline-block;
    font-size: 15px;
    //margin-left: 10px;
    // float: right;
    position: absolute;
    top: 25px;
    left: 20px;
    right: 20px;
    background-color: $c-white;
    // width: 100%;

    // select {
    //     margin: 0;
    // }

    button {
        border-bottom: 1px solid rgba($c-white, 0.5);
        position: relative;
        top: -5px;
    }

    .c-Nav__item {
        font-family: $f-body;
        font-size: 16px;
        font-weight: 300;
        line-height: 38px;
        text-transform: capitalize;
        letter-spacing: 0;

        &--back {
            margin: 0 0 10px;
            width: 100%;
            text-align: left;
            font-size: 14px;
            line-height: 38px;

            display: flex;
            flex-direction: row;
            align-items: center;

            svg {
                margin-right: 5px;
            }
        }
    }
}

.c-CurrencySwitcherList__currencies {
    margin: 0;
    list-style: none;
    // max-height: 110px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 1px;
    }
       
    // &::-webkit-scrollbar-track {
    //     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    // }
       
    &::-webkit-scrollbar-thumb {
        background-color: $c-white;
        outline: none;//1px solid slategrey;
    }

    li {
        margin-bottom: 5px;
    }
}

.c-CurrencySwitcherList__currency {
    // color: rgba($c-white, 0.5);
    font-size: 15px;
    cursor: pointer;

    &:hover {
        // color: $c-white;
    }

    &--active {
        // color: $c-white;
        padding-bottom: 3px;
        border-bottom: 1px solid rgba($c-white, 0.5);
    }
}
