<template>
  <div>

  <v-form
    v-if="!$auth.loggedIn"
    ref="form"
    v-model="valid"
    :lazy-validation="lazy"
    @submit.prevent="validate()"
    :class="['c-LogInForm', {'is-loading' : loading}]"
  >
    <div v-show="notice || formError" class="c-LogInForm__msg">
      <span v-show="notice" style="color: green;">{{ notice }}</span>
      <span v-show="formError" style="color: red">{{ formError }}</span>
    </div>

    <div class="c-LogInForm__fields">
      <v-text-field
        v-model="email"
        :rules="rules.email"
        label="Email Address"
        required
        class="input--required"
      ></v-text-field>
      <v-text-field
        v-model="password"
        :rules="rules.password"
        label="Password"
        type="password"
        required
        class="input--required"
      ></v-text-field>
    </div>
    <!-- <button class="c-Button c-Button--invert" @click="login">
      Sign in
    </button> -->
    <input
      type="submit"
      class="c-Button c-Button--invert"
      value="Sign in"
      @submit.prevent="validate()"
    >

    <div class="c-Form__actions">
      <div class="c-Form__action">
        <span class="c-Link__text">Don’t Have An Account?</span>
        <span
          class="c-Link c-Link--underline"
          @click.prevent="goToRegister"
        >
          Sign Up
        </span>
      </div>

      <span
        class="c-LogInForm__action c-Link c-Link--underline"
        @click.prevent="goToResetPassword"
      >
        Forgot Password
      </span>
    </div>
  </v-form>
  </div>

</template>

<script>
  import { EventBus } from '@/plugins/event-bus';

  export default {
    data() {
      return {
        loading: false,
        formError: null,
        email: process.env.NODE_ENV === 'development' ? 'sie@medusamediacreations.co.uk' : '', // demo only
        password: process.env.NODE_ENV === 'development' ? 'Sbsix79!0' : '',
        notice: '',
        valid: true,
        lazy: false,
        rules: {
          email: [
            v => !!v || "E-mail is required",
            v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,10})+$/.test(v) || "E-mail must be valid"
          ],
          password: [
            v => !!v || 'Password is required',
            // v => (v && v.length >= 5 && v.length <= 12) || 'Password must contain between 5-12 characters',
          ],
        }
      };
    },
    created() {
      EventBus.$on('accountCreated', () => {
        this.notice = 'Account created';
      });
      if (this.$route.query.account_create_success) {
        this.notice = 'Account creation successful.';
      }
    },
    methods: {
      validate () {
        if(this.$refs.form.validate()){
          this.login();
        }
        else{
          console.log('fail');
          console.log(this.errors);
        }
      },
      goToRegister(){
        this.$parent.tab = 'register';
      },
      goToResetPassword(){
        this.$parent.tab = 'reset-password';
      },
      async login() {

        console.log('LoginForm - login()');

        let creds = {
          email: this.email,
          password: this.password
        };

        try {

          await this.$auth.login({data: creds}).then(async (response) => {
            /*console.log('tpl - login() - response:');
            console.log(response);*/

            if (response.data.token && response.data.token !== '') {
              await this.$auth.fetchUser();

            } else{
              console.log('login failed!');
              this.formError = 'Username or password incorrect';
              this.loading = false;
            }

          });
        } catch (e) {
          console.log('login() - e:');
          console.log(e);
        }
      },
    }
  };
</script>

<style src="./LogInForm.scss" lang="scss"></style>
