.c-LogInForm {
  /* border: 1px solid #ccc; */
  //padding: 30px;
  transition: opacity .2s ease;
  max-width: 500px;
  margin: 0 auto;
  // margin-bottom: 100px;
}
.c-LogInForm div {
  // margin-bottom: 20px;
}
.c-LogInForm label {
  display: block;
}
[type="email"],
[type="password"],
[type="text"] {
  outline: none;
}

.c-LogInForm__actions {
  margin-top: 20px;
  color: $c-dark-grey;
  font-weight: 300;
}

.c-LogInForm__action {
  margin-bottom: 7px;
}

.c-LogInForm__msg {
  margin-bottom: 50px;
  font-size: 12px;
}