<template>
  <div
    v-if="collections && collections.length > 0"
    class="c-ShopifyCollection"
  >
    <div
      class="c-PostGrid c-PostGrid--irregular collections c-PostGrid--has-title"
    >
      <div
        v-if="collections"
        class="c-StickyText u-sticky u-sticky--half"
      >
        <slot name="header">
          <h1
            v-if="blok.title"
            class="u-uppercase">
            {{ blok.title }}
          </h1>
        </slot>
      </div>

      <!--collections -
      <pre>
        {{ collections }}
      </pre>-->

      <div v-if="collections">
        <c-grid>
          <c-col
            v-for="(collection, index) in collections"
            :key="index"
            :blok="{
              small: 20,
              large: 20,
            }"
          >

            <!--collection.content -
            <pre>
              {{ collection.content }}
            </pre><br><br>-->

            <div v-if="collection.content && collection.content.image">
              <client-only>
                <c-collection-box
                  :collection="collection.content"
                  class="c-PostBox"
                />
              </client-only>
            </div>

          </c-col>
        </c-grid>
      </div>
    </div>
  </div>
</template>

<script>

//@TODO - should accept uuids OR content for collections
import CCollectionBox from '@/node_modules/six-shopify-library/src/components/Molecules/CollectionBox/CollectionBox';
import CGrid from '@/node_modules/six-storyblok-library/src/components/Templates/Grid/Grid';
import CCol from '@/node_modules/six-storyblok-library/src/components/Templates/Col/Col';

export default {
  components: {
    CCollectionBox,
    CGrid,
    CCol
  },

  props:{
    blok: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    collections(){
      return this.blok.collections;
    }
  },
  mounted(){
    console.log(1);
  },
  created(){

  },
  methods:{

  },
};
</script>
