<template>
  <div
    :class="['c-ProductImage', 'zoom-on-hover', {'zoomed' : zoomed}]"
    @touchstart="touchzoom"
    @mousemove="move"
    @mouseenter="zoom"
    @mouseleave="unzoom"
  >
    <v-lazy-image
      v-if="image"
      ref="normal"
      :src="image.src"
      :srcset="getSrcset(image)"
      :alt="image.altL"
      class="normal"
      sizes="(max-width: 320px) 320px, (max-width: 640px) 640px, 1024px" />
    <!-- <img
      v-if="image"
      :src="image.src"
      :srcset="getSrcset(image)"
      :alt="image.altL"
      ref="normal"
      class="normal"
      sizes="(max-width: 320px) 320px, (max-width: 640px) 640px, 1024px" /> -->

    <v-lazy-image
      v-if="largeImage"
      ref="zoom"
      :src="largeImage"
      :alt="image.altL"
      class="zoom" />
      <!-- <img
      v-if="image"
      :src="image.src"
      :alt="image.altL"
      class="zoom"
      ref="zoom" /> -->
  </div>
</template>

<script>
// https://github.com/Intera/vue-zoom-on-hover

function pageOffset(el) {
  // -> {x: number, y: number}
  // get the left and top offset of a dom block element
  var rect = el.getBoundingClientRect(),
    scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
    scrollTop = window.pageYOffset || document.documentElement.scrollTop;
  return {
    y: rect.top + scrollTop,
    x: rect.left + scrollLeft
  };
}

export default {
  props: {
    image: {
      type: Object,
      default: () => {}
    },
  },
  data() {
    return {
      scaleFactor: 2,
      resizeCheckInterval: null,
      zoomed: false,
      disabled: true
    };
  },
  computed:{
    largeImage(){
      return this.image.originalSrc.replace('.jpg', '_2400x2400.jpg');
    }
  },
  mounted() {
    // console.log('this.$refs');
    // console.log(this.$refs);

    if (this.scaleFactor > 1) { //  || this.$props.scale
      // this.scaleFactor = parseInt(this.$props.scale)
      this.$refs.zoom.$vnode.elm.style.transform = 'scale(' + this.scaleFactor + ')';
    }

    this.initEventLoaded();
    this.initEventResized();
  },
  updated: function() {
    this.initEventLoaded();
  },
  beforeDestroy: function() {
    this.resizeCheckInterval && clearInterval(this.resizeCheckInterval);
    this.disabled = true;
  },
  methods: {
    getSrcset(img) {
      let thumbnail = img.originalSrc,
        small = thumbnail.replace('.jpg', '_400x800.jpg'),
        medium = thumbnail.replace('.jpg', '_450x900.jpg'),
        large = img.src;
      return `${small} 320w, ${medium} 640w, ${large} 1024w`;
    },
    touchzoom: function(event) {
      if (this.disabled) return;
      this.move(event);
      this.zoomed = !this.zoomed;
    },
    zoom: function() {
      if (!this.disabled) this.zoomed = true;
    },
    unzoom: function() {
      if (!this.disabled) this.zoomed = false;
    },
    move: function(event) {
      if (this.disabled || !this.zoomed) return;
      var offset = pageOffset(this.$el);
      var zoom = this.$refs.zoom.$vnode.elm;
      var normal = this.$refs.normal.$vnode.elm;
      var relativeX = event.clientX - offset.x + window.pageXOffset;
      var relativeY = event.clientY - offset.y + window.pageYOffset;
      var normalFactorX = relativeX / normal.offsetWidth;
      var normalFactorY = relativeY / normal.offsetHeight;
      var x = normalFactorX * (zoom.offsetWidth * this.scaleFactor - normal.offsetWidth);
      var y = normalFactorY * (zoom.offsetHeight * this.scaleFactor - normal.offsetHeight);
      zoom.style.left = -x + 'px';
      zoom.style.top = -y + 'px';
    },
    initEventLoaded: function() {
      // console.log('this.$refs');
      // console.log(this.$refs);
      // emit the "loaded" event if all images have been loaded
      var promises = [this.$refs.zoom.$vnode.elm, this.$refs.normal.$vnode.elm].map(function(image) {
        return new Promise(function(resolve, reject) {
          image.addEventListener('load', resolve);
          // image.addEventListener("error", reject)
        });
      });
      var component = this;
      Promise.all(promises).then(function() {
        component.$emit('loaded');
      });

      this.disabled = false;
    },
    initEventResized: function() {
      var normal = this.$refs.normal.$vnode.elm;
      var previousWidth = normal.offsetWidth;
      var previousHeight = normal.offsetHeight;
      var component = this;
      this.resizeCheckInterval = setInterval(function() {
        if ((previousWidth !== normal.offsetWidth) || (previousHeight !== normal.offsetHeight)) {
          previousWidth = normal.offsetWidth;
          previousHeight = normal.offsetHeight;
          component.$emit('resized', {
            width: normal.width,
            height: normal.height,
            fullWidth: normal.naturalWidth,
            fullHeight: normal.naturalHeight
          });
        }
      }, 1000);
    }
  },
};
</script>

<style src="./ProductGalleryImage.scss" lang="scss"></style>
