<template>
  <div :class="['c-FilterPanel', {'is-loading' : loading}]">
    <div class="grid-container">
      <FilterBlock />
      <FilterSort />
    </div>
  </div>
</template>

<script>
import FilterSort from '../../Molecules/FilterSort/FilterSort';
import FilterBlock from '../../Molecules/FilterBlock/FilterBlock';

export default {
  components: {
    FilterBlock,
    FilterSort
  },
  props:{
    products: {
      default: () => [],
      type: Array,
    }
  },
  data() {
    return {
      loading: false,
      //appliedFilters: [],
    };
  },
  computed: {
    filteredProducts() {
      if (this.$route.query.filters) {
        this.appliedFilters = this.$route.query.filters.split(',');
        return this.products.filter(product => {
          // for match ALL search use .every() | for match ANY search use .find()
          return this.appliedFilters.find(appliedFilter => {
            return product.variants.find(variant => Object.values(variant).includes(appliedFilter));
          });
        });
      } else {
        this.appliedFilters = [];
        return this.products;
      }
    }
  },
};
</script>

<style src="./FilterPanel.scss" lang="scss"></style>
