.c-Addresses {
  .c-Address {
    padding: 50px 0 90px;
    transition: opacity .2s ease;

    &:first-child {
      padding-top: 20px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $c-border;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .c-Address__details {
    font-weight: 300;
    line-height: 21px;
  }

  .c-Address__actions {
    a:not(:last-child) {
      @include v-spacing('margin-right', 10px, 50px);
    }
  }

  address {
    font-style: normal;
    margin-bottom: 20px;
  }

  address > span {
    display: block;
  }

  .tag {
    background-color: #fffcaa;
    padding: 5px 8px;
    display: inline-block;
    margin-bottom: 10px;
  }

  .v-card__title {
    display: block;
  }

  input,
  select {
    border: 0;
    padding-left: 0;
  }

  select {
    padding: 5px 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-size: 14px;
  }

  label {
    font-weight: 600;
  }
}
