<template>
  <div class="c-Address">

    <div class="grid-x">
      <div class="large-6 cell mb10">
        <span
          v-if="address.default"
          class="u-weight--light"
        >
          Default address
        </span>
        <button
          v-if="!address.default"
          class="c-Link c-Link--underline"
          @click="setDefault(address.id)">Make Default Address</button>
      </div>
      <div class="large-10 cell c-Address__details">

        <div>{{ addressObj.firstName }} {{ addressObj.lastName }}</div>
        <div>{{ addressObj.company }}</div>
        <div>{{ addressObj.address1 }}</div>
        <div>{{ addressObj.address2 }}</div>
        <div>{{ addressObj.city }}</div>
        <div>{{ addressObj.zip }}</div>
        <div>{{ addressObj.country }}</div>

      </div>
      <div class="large-4 cell u-align--right c-Address__actions">

        <nuxt-link
          :to="`/account/addresses/${address.id}`"
          class="c-Link c-Link--underline"
        >
          Edit
        </nuxt-link>

        <!-- <button
          class="c-link c-Link--underline"
          @click="updateAddress">Update</button> -->
        <a
          v-if="!address.default"
          class="c-Link c-Link--underline"
          @click.prevent="deleteAddress(address.id)">Delete</a>
      </div>
    </div>

  </div>
</template>

<script>

//@TODO - check scope fo EventBis emits, setLoadingState is not specific
//@TODO - use stored values for form fields

import { SET_DEFAULT_ADDRESS } from '../../../gql/setDefaultAddress';
import { DELETE_ADDRESS } from '../../../gql/deleteAddress';
import { EventBus } from '@/plugins/event-bus';

export default {
  props: {
    address: {
      type: Object,
      required: true,
      default: () => {}
    },
    showAddAddressLink: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data() {
    return {
      addressObj: {
        firstName: this.address.firstName,
        lastName: this.address.lastName,
        company: this.address.company,
        address1: this.address.address1,
        address2: this.address.address2,
        city: this.address.city,
        zip: this.address.zip,
        country: this.address.country
      },
      loading: false,
      formErrors: []
    };
  },
  created() {
    EventBus.$on('setLoadingState', (data) => {
      this.loading = data;
    });
  },
  methods: {
    setDefault(addressId) {
      EventBus.$emit('setLoadingState', true);

      let token = this.$auth.getToken('local');
      console.log('setDefault() - token:');
      console.log(token);

      this.$apollo.mutate({
        mutation: SET_DEFAULT_ADDRESS,
        variables: {
          customerAccessToken: token,
          addressId: addressId
        },
      }).then((res) => {
        EventBus.$emit('setLoadingState', false);
        EventBus.$emit('customerUpdated', res.data.customerDefaultAddressUpdate.customer);
      }).catch((e) => {
        console.log(e);
        EventBus.$emit('setLoadingState', false);
      });
    },
    deleteAddress(addressId) {
      EventBus.$emit('setLoadingState', true);
      let token = this.$auth.getToken('local');

      this.$apollo.mutate({
        mutation: DELETE_ADDRESS,
        variables: {
          id: addressId,
          customerAccessToken: token
        },
      }).then(() => {
        EventBus.$emit('customerUpdate');
        this.$router.push({ path: '/account/addresses' });
      }).catch((e) => {
        console.log(e);
        EventBus.$emit('setLoadingState', false);
      });
    }
  },
};
</script>

<style src="./Address.scss" lang="scss"></style>
