<template>
  <div>
    <h2>Products</h2>
  </div>

</template>

<script>
import { PRODUCT_BY_HANDLE } from '../../gql/productByHandle';

export default {
  name: 'Products',
  props: {

  },
  data(context) {
    //console.log('data()');
    const client = context.app.apolloProvider.defaultClient;

    return client.query({
      query: PRODUCT_BY_HANDLE,
      variables: {
        handle: context.params.handle
      }
    }).then((res) => {
      let productData = res.data.productByHandle;
      //console.log('productData:');
      //console.log(productData);
      return {
        product: productData,
        metafields: productData.metafields,
        options: productData.options,
        variants: productData.variants.edges.map(v => {
          return {
            id: v.node.id,
            title: v.node.title,
            metafields: v.node.metafields,
            price: v.node.priceV2.amount,
            available: v.node.availableForSale,
            presentmentPrices: v.node.presentmentPrices.edges.map(p => {
              return {
                currency: p.node.price.currencyCode,
                price: p.node.price.amount
              };
            })
          };
        }),
        images: productData.images.edges.map(i => {
          return {
            id: i.node.id,
            src: i.node.transformedSrc,
            altL: i.node.altText
          };
        })
      };
    }).catch((e) => {
      console.log(e);
    });
  },
  mounted(){
    //console.log(this.$route);
  },
};

</script>
