<template>
  <div :class="['c-PanelSizes', {'is-loading': loading}]">
    <header class="c-PanelSizes__header">
      <div class="c-PanelSizes__btn">
        <div
          class="c-PanelSizes__title"
        >
          Size Guide
        </div>

        <div class="c-PanelSizes__actions">
          <ul>
            <li>
              <button
                :class="['c-PanelSizes__unit', {'c-PanelSizes__unit--active': unit === 'in'}]"
                @click.prevent="changeUnit('in')"
              >
                IN
              </button>
            </li>
            <li>
              <button
                :class="['c-PanelSizes__unit', {'c-PanelSizes__unit--active': unit === 'cm'}]"
                @click.prevent="changeUnit('cm')"
              >
                CM
              </button>
            </li>

          </ul>
        </div>
      </div>
      <button
        @click.prevent="closePanel"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14.207"
          height="14.207"
          viewBox="0 0 14.207 14.207"><g transform="translate(-340.197 -22.146)"><line
            y1="13.5"
            x2="13.5"
            transform="translate(340.551 22.5)"
            fill="none"
            stroke="#7f7f7f"
            stroke-width="1"/><line
              x1="13.5"
              y1="13.5"
              transform="translate(340.551 22.5)"
              fill="none"
              stroke="#7f7f7f"
              stroke-width="1"/></g></svg>
      </button>
    </header>

    <client-only>
      <div class="c-PanelSizes__inner">
        <div class="c-Table__title show-for-large">
          Another Tomorrow <br>
          Size
        </div>

        <!-- Table -->
        <!--
        <table class="c-PanelSizes__table&#45;&#45;mobile hide-for-medium">
          <thead>
            <tr>
              <th class="text-left">AT SIZE</th>
              <th>XS</th>
              <th>S</th>
              <th>M</th>
              <th>L</th>
              <th>XL</th>
              <th>XXL</th>
            </tr>
          </thead>

          <tbody v-if="sizes">
            <tr>
              <td class="text-left">Bust</td>
              <td
                v-for="(size, index) in sizes"
                :key="index"
              >{{ getSize(size.bust) }}xx</td>
            </tr>
            <tr>
              <td class="text-left">Waist</td>
              <td
                v-for="(size, index) in sizes"
                :key="index"
              >{{ getSize(size.waist) }}</td>
            </tr>
            <tr>
              <td class="text-left">Hip</td>
              <td
                v-for="(size, index) in sizes"
                :key="index"
              >{{ getSize(size.hip) }}</td>
            </tr>
          </tbody>
        </table>

-->


        <div class="show-for-large c-PanelSizes__table--mobile">
          <table>
            <thead>
              <tr>
                <th width="12.5%">US</th>
                <th width="12.5%">UK</th>
                <th width="12.5%">FR</th>
                <th
                  class="highlighted-country u-weight--medium"
                  width="25%">IT</th>
                <th width="12.5%">Bust</th>
                <th width="12.5%">Waist</th>
                <th width="12.5%">HIP</th>
              </tr>
            </thead>

            <tbody v-if="sizes">
              <tr
                v-for="(size, index) in sizes"
                :key="index">

                <td>{{ size.us }}</td>
                <td>{{ size.uk }}</td>
                <td>{{ size.fr }}</td>
                <td class="highlighted-country u-weight--medium">{{ size.it }}</td>

                <td>{{ getSize(size.bust) }}</td>
                <td>{{ getSize(size.waist) }}</td>
                <td>{{ getSize(size.hip) }}</td>
              </tr>
            </tbody>
          </table>
          <p>Hip measurements should be taken at the widest point.</p>
          <p>Model is wearing a size {{ modelSize }}</p>
        </div>

        <div class="mobile-sizes show-for-small hide-for-large">
          <table>
            <tbody v-if="sizes">
              <tr v-if="getSizeByCountry('us').length > 0">
                <td class="country">US</td>
                <td
                  v-for="(size, index) in getSizeByCountry('us')"
                  :key="index">{{ size }}</td>
              </tr>

              <tr v-if="getSizeByCountry('uk').length > 0">
                <td class="country">UK</td>
                <td
                  v-for="(size, index) in getSizeByCountry('uk')"
                  :key="index">{{ size }}</td>
              </tr>

              <tr v-if="getSizeByCountry('fr').length > 0">
                <td class="country">FR</td>
                <td
                  v-for="(size, index) in getSizeByCountry('fr')"
                  :key="index">{{ size }}</td>
              </tr>

              <tr v-if="getSizeByCountry('it').length > 0">
                <td class="country highlighted-country u-weight--medium"><span>AT SIZE</span><span>IT</span></td>
                <td
                  v-for="(size, index) in getSizeByCountry('it')"
                  :key="index"
                  class="u-weight--medium  highlighted-country">{{ size }}</td>
              </tr>

              <tr v-if="getSizeByType('bust').length > 0">
                <td class="">Bust</td>
                <td
                  v-for="(size, index) in getSizeByType('bust')"
                  :key="index">{{ size }}</td>
              </tr>

              <tr v-if="getSizeByType('waist').length > 0">
                <td class="">Waist</td>
                <td
                  v-for="(size, index) in getSizeByType('waist')"
                  :key="index">{{ size }}</td>
              </tr>

              <tr v-if="getSizeByType('hip').length > 0">
                <td class="">Hips</td>
                <td
                  v-for="(size, index) in getSizeByType('hip')"
                  :key="index">{{ size }}</td>
              </tr>
            </tbody>
          </table>

          <div class="size-info">
            <p>Hip measurements should be taken at the widest point.</p>
          </div>

        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import sizesJSON from '../../../data/sizes.json';

export default {
  // store: sfyStore,
  data() {
    return {
      loading: false,
      unit: 'in',
      sizes: sizesJSON.sizes,
      inchRatio:  0.39370079,
    };
  },
  // mounted() {
  //   console.log(this.$store.state.shopify.product.modelSize);
  // },
  computed: {
    modelSize(){
      return this.$store.state.shopify.product.modelSize;
    }
  },
  mounted(){
    //console.log(1);
  },
  methods: {

    roundToHalf(value) {
      let converted = parseFloat(value);
      let decimal = (converted - parseInt(converted, 10));
      decimal = Math.round(decimal * 10);
      if (decimal === 5) { return (parseInt(converted, 10)+0.5); }
      if ( (decimal < 3) || (decimal > 7) ) {
        return Math.round(converted);
      } else {
        return (parseInt(converted, 10)+0.5);
      }
    },
    closePanel() {
      this.$emit('closePanel', {});
    },
    changeUnit(unit) {
      this.unit = unit;
    },
    getSize(size) {
      let defaultSize = size.split('-');

      if(this.unit === 'in'){//Math.round( num * 100 + Number.EPSILON ) / 100
        return this.roundToHalf(Number(defaultSize[0]) * this.inchRatio) +'-' +
                this.roundToHalf(Number(defaultSize[1]) * this.inchRatio);
      } else {
        return size;
      }
    },

    getSizeByCountry(country){
      let sizes = this.sizes;
      let s = [];
      for( const size of sizes){
        s.push(size[country]);
      }
      return(s);
    },

    getSizeByType(type){
      let sizes = this.sizes;
      let s = [];
      for( const size of sizes){
        s.push(size[type]);
      }
      return(s);
    }
  }
};

</script>

<style src="./PanelSizes.scss" lang="scss"></style>
