.c-PanelSizes {
  width: 80%;
}

.c-PanelSizes__header {
  width: 100%;
  display: flex;
  align-items: flex-start;//center;
  justify-content: space-between;
  padding: 20px;//30px;

  @include breakpoint(xmedium down) {
    border-bottom: 1px solid $c-border;
  }

  @include breakpoint(large) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 32px; // quick fix
  }

  button {
    display: inline-block;
    width: auto;
    text-align: right;
    line-height: 1;
  }

  .c-PanelSizes__btn {
    display: inline-block;
    width: 50%;
  }
}

.c-PanelSizes__inner {
  margin: 0 auto;
  width: 100%;
  max-width: calc(100% - 20px);
  // padding: 20px 30px 30px;
  // border: 1px solid #ccc;
  background-color: #fff;
  z-index: 20;
  transition: opacity .2s ease;

  @include breakpoint(xmedium down) {
    margin-top: 40px;
  }

  @include breakpoint(large) {
    width: 730px;
  }

  p {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
  }

  table {
    width: 100%;
    // border: 1px solid #ccc;
    margin-bottom: 50px;
    font-size: 12px;
    text-align: center;

    thead {
      background-color: inherit;
      border-bottom: 1px solid $c-border;

      th {
        //font-weight: normal;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;

        &.text-left {
          text-align: left;
        }
      }
    }

    tbody,
    tbody tr {
      background-color: inherit;
    }

    td, th {
      &.highlighted-country {
        font-weight: 500;
      }
    }
  }

  table td {
    border-bottom: 1px solid $c-border;
    padding: 20px 0; // 20px 10px;
    font-weight: 300;
  }

  table td img {
    width: 100%;
    height: auto;
    max-width: 30px;
  }

  // table tr:last-child td {
  //   border-bottom: 0;
  // }

  table [type="text"] {
    pointer-events: none;
  }

  .is-loading {
    opacity: 0.5;
    pointer-events: none;
  }

  .is-hidden {
    opacity: 0;
  }

  .c-Table__title {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    line-height: 22px;
  }


  }


  .c-PanelSizes__item {
    //margin-top: 40px;
    padding-bottom: 20px;
    //border-bottom: 1px solid rgba($c-black, 0.2)
  }

  .c-PanelSizes__title {
    margin-top: 0;
    color: $c-black;
    text-transform: uppercase;
    font-weight: 600;
    //font-size: 10px;
    font-size: $FSD1;
    line-height: 1.6;

    font-family: $f-expanded;
    text-decoration: none;
    letter-spacing: 0.2em;
  }

  .c-PanelSizes__shipping {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $c-border;//rgba($c-black, 0.2);
  }

  .c-PanelBag__actions {
    margin-top: 20px;

    // ul {
    //   margin-left: 0;
    // }

    a {
      margin-bottom: 25px;
    }

    // .c-Button {
    //   margin: 0;
    // }
  }

  .c-PanelSizes__btn {
    // margin-bottom: 30px;
    // text-align: right;

    a {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 10px;//11px;
      font-family: $f-expanded;
      text-decoration: none;
      color: $c-grey;
      letter-spacing: 0.2em;
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $c-black;
      }

    }
}

.c-Panel--sizes {
    width: 50%;

    @include breakpoint(large) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

.c-PanelSizes__actions {
  margin-top: 20px;

  @include breakpoint(xmedium down) {
    display: none;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      position: relative;

      &:not(:last-child) {
        margin-right: 40px;
      }

      &:not(:last-child):after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: -20px;
        width: 1px;
        height: 18px;
        transform: translateY(-50%);
        background-color: $c-black;
        opacity: 0.35;
      }
    }
  }
}

.c-PanelSizes__unit {
  text-transform: uppercase;
  font-size: 8px;
  font-family: $f-expanded;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 22px;
  outline: none;
  color: $c-dark-grey;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $c-black;
  }

  &--active {
    pointer-events: none;
    color: $c-black;
  }
}

@include breakpoint(xmedium down){
  .c-PanelSizes__inner{
    margin-top: 10px;
    table{
      margin-bottom: 30px;
    }
  }
}

.mobile-sizes{
  td{
    text-align: left;
  }
  padding-bottom: 40px;
  .country{
    span{
      display: block;
      &:first-child{
        line-height: 10px;
        margin-top: 12px;
      }
    }
  }
  .size-info{
    margin-bottom: 10px;
  }
}
