<template>
  <nav>
    <ul>
      <li>
        <nuxt-link :to="localePath('index')">{{ $t('home') }}</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="localePath('about')">{{ $t('about') }}</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="localePath('journal')">{{ $t('journal') }}</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="localePath('collections')">{{ $t('collections') }}</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="switchLocalePath('en')">English</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="switchLocalePath('fr')">Français</nuxt-link>
      </li>
      <client-only>
        <li v-if="$auth.loggedIn">
          <nuxt-link to="/account">Account</nuxt-link>
        </li>
        <li v-if="!$auth.loggedIn">
          <nuxt-link to="/account/login">Log In</nuxt-link>
        </li>
        <li v-if="!$auth.loggedIn">
          <nuxt-link to="/account/register">Register</nuxt-link>
        </li>
        <li v-else>
          <a href="javascript:void(0)" @click="logout">Logout</a>
        </li>
      </client-only>
    </ul>
  </nav>
</template>

<script>
export default {
  methods: {
    async logout() {
      try {
        await this.$store.dispatch('logout')
      } catch (e) {
        this.formError = e.message
      }
    }
  }
}
</script>

<style src="./ShopNav.scss" lang="scss"></style>
