.c-NotifyMe {
  margin-top: 20px;

  .v-input {
    padding-top: 20px;

    .v-input__control {
      // margin-bottom: 20px;

      // .v-input__slot {
      //   margin-bottom: 0;
      // }

      .v-text-field__details {
        margin-top: 10px;//20px;
        // min-height: 15px;
      }
    }

    // &.error--text {
    //   .v-label,
    //   .v-messages__message {
    //     color: red;
    //   }

    //   .v-input__slot {
    //     &:after {
    //       border-color: red !important;
    //     }
    //   }
    // }
  }

  //input[type="submit"],
  .c-NotifyMe__btn--arrow {
    font-family: $f-expanded;
    font-size: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
    background: none;
    border: none;
    color: $c-white;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        color: rgba($c-white, 0.5);
    }

    // Arrow icon
    background: url('~assets/img/icons/arrow-btn.svg') no-repeat !important;
    padding: 0 !important;
    width: 17px;
    text-indent: -9999em;
    transition: opacity 0.2s ease-in-out !important;

    position: absolute;
    top: 25px;//0;
    right: 0;
    z-index: 1;

    &:hover {
        color: rgba($c-white, 0.5);
        opacity: 0.5;
    }
  }
}

.c-NotifyMe__text,
.c-NotifyMe__btn {
  display: inline-block;
  font-size: 12px;//14px;
  line-height: 1.6;
}

.c-NotifyMe__btn {
  margin-bottom: 10px;//20px;
  text-decoration: none;
    color: $c-link-color;// rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid $c-link-border;//rgba(0, 0, 0, 0.5);
    // line-height: 1.6;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out;

    &:hover {
        color: $c-black;
    }
}

.c-NotifyMe__msg {
  margin-top: 10px;
  // @include v-spacing('font-size', $FSM3, $FSD4);
  font-size: 14px;
}

.c-NotifyMe__input {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.c-NotifyMe__input--active {
  max-height: 200px;
}