<template>
  <div class="c-NotifyMe">
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
      class="c-NotifyMe__form"
      @submit.prevent="validate()"
    >
      <div v-if="showForm">

        <input
          v-if="user"
          type="submit"
          class="c-NotifyMe__btn"
          :value="text"
        >

        <div v-else>
          <button v-if="!showInput" class="c-NotifyMe__btn" @click.prevent="showInput = !showInput">{{ text }}</button>
          <div v-if="showInput" class="c-NotifyMe__text">{{ text }}</div>

          <div
            :class="['u-relative c-NotifyMe__input', { 'c-NotifyMe__input--active' : showInput }]">
            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="Email Address"
              required
              class="input--required"
            ></v-text-field>

            <input
              type="submit"
              class="c-NotifyMe__btn--arrow"
              value="Notify me"
              @submit.prevent="validate()"
            >
          </div>
        </div>

      </div>
      <client-only v-else>
        <div class="c-NotifyMe__text">{{ text }}</div>

        <div
          v-for="error in errors"
          :key="error"
          class="c-NotifyMe__msg"
        >
          <p class="msg">{{ error }}</p>
        </div>

        <div
          v-if="status === 'OK'"
          class="c-NotifyMe__msg"
        >
          {{ message }}
        </div>

      </client-only>
    </v-form>
  </div>
</template>

<script>
//@TODO!!!! - check deps here, uses store auth user
export default {
  props:{
    productId:{
      type: String,
      default: ''
    },
    variantId:{
      type: String,
      default: ''
    },
  },
  data() {
    return {
      valid: true,
      lazy: false,
      showForm: true,
      showInput: false,
      text: 'Notify me when back in stock',
      email: '',
      emailRules: [
        v => !!v || "E-mail is required",
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,10})+$/.test(v) || "E-mail must be valid"
      ],
      status: '',
      apiErrors: [],
    };
  },
  watch: {
    variantId() {
      this.showForm = true;
      this.showInput = false;
    },
  },
  computed:{
    user(){
      return this.$store.state.auth.user;
    },
    errors(){
      let errors = [];
        if(typeof this.apiErrors !== 'undefined'){
            if(this.apiErrors) {
                if (Object.prototype.hasOwnProperty.call(this.apiErrors, 'base')) {
                    if (typeof this.apiErrors.base === 'object' && Array.isArray(this.apiErrors.base)) {
                        this.apiErrors.base.forEach((msg, i) => {
                            errors.push(msg);
                        });
                    }
                }

                if (Object.prototype.hasOwnProperty.call(this.apiErrors, 'email')) {
                    if (typeof this.apiErrors.email === 'object' && Array.isArray(this.apiErrors.email)) {
                        this.apiErrors.email.forEach((msg, i) => {
                            errors.push(msg);
                        });
                    }
                }
            }
      }

      return errors;
    }
  },
  mounted(){
    if(this.user) {
      this.email = this.user.email;
    }
  },
  methods: {
    validate () {
      if(this.$refs.form.validate()){
        this.saveEmail();
      }
      else{
        console.log('fail');
        console.log(this.errors);
      }
    },
    async saveEmail() {
      let self = this;

      await this.$axios.get('https://app.backinstock.org/stock_notification/create.json', {
        params: {
          'shop': process.env.SHOPIFY_DOMAIN,
          'notification[email]': this.email,
          'notification[product_no]': this.productId, //'1774649933887',
          'notification[quantity_required]': '1',
          'notification[accepts_marketing]': 'true',
          'notification[customer_utc_offset]': '10800',
          'variant[variant_no]': this.variantId //'14548284211263'
        }
      })
      .then(function (response) {
        console.log(response);
        self.showForm = false;
        self.status = response.data.status;
        self.apiErrors = response.data.errors;
        self.message = response.data.message;
      })
      .catch(function (error) {
        console.log(error);
      });
    }
  }
};
</script>

<style src="./NotifyMe.scss" lang="scss"></style>
