<template>
  <div :class="['c-CreateAddress',{'is-loading' : loading}]">
    <div v-if="formErrors.length">
      <b>Please correct the following error(s):</b>
      <ul>
        <li
          v-for="(error, index) in formErrors"
          :key="index">{{ error }}</li>
      </ul>
    </div>
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
      @submit.prevent="validate()"
    >
      <div>
        <v-text-field
          v-model="addressObj.firstName"
          :rules="rules.name"
          label="First Name"
          required
          class="input--required"
        />
        <v-text-field
          v-model="addressObj.lastName"
          :rules="rules.surname"
          label="Last Name"
          required
          class="input--required"
        />
      </div>
      <div>
        <v-text-field
          v-model="addressObj.company"
          label="Company"
        />
      </div>
      <div>
        <v-text-field
          v-model="addressObj.address1"
          :rules="rules.address"
          label="Address Line 1"
          required
          class="input--required"
        />
      </div>
      <div>
        <v-text-field
          v-model="addressObj.address2"
          :rules="rules.address"
          label="Address Line 2"
          required
          class="input--required"
        />
      </div>
      <div>
        <v-text-field
          v-model="addressObj.city"
          :rules="rules.city"
          label="City"
          required
          class="input--required"
        />
      </div>
      <div>
        <v-text-field
          v-model="addressObj.zip"
          :rules="rules.zip"
          label="Zip"
          required
          class="input--required"
        />
      </div>
      <div>
        <label for="country">Country</label>
        <country-select
          v-model="addressObj.country"
          :country="addressObj.country"
          :placeholder="countryPlaceholder"
          :usei18n="false"
          top-country="GB" />
      </div>
      <!-- <button
        class="c-Button c-Button--invert"
        @click="createAddress">Add a New Address</button> -->
      <input
        type="submit"
        class="c-Button c-Button--invert"
        value="Add a New Address"
        @submit.prevent="validate()"
      >
    </v-form>
  </div>
</template>

<script>
import { CUSTOMER_ADDRESS_CREATE } from '../../../gql/customerAddressCreate';
import { EventBus } from '@/plugins/event-bus';

export default {
  data() {
    return {
      addressObj: {
        firstName: '',
        lastName: '',
        company: '',
        address1: '',
        address2: '',
        city: '',
        zip: '',
        country: '',
      },
      formErrors: [],
      loading: false,
      valid: true,
      lazy: false,
      rules: {
        name: [
          v => !!v || 'Name is required',
          // v => (v && v.length <= 10) || 'Name must be less than 10 characters',
        ],
        surname: [
          v => !!v || 'Surname is required',
          // v => (v && v.length <= 10) || 'Surname must be less than 10 characters',
        ],
        address: [
          v => !!v || 'Address is required',
          // v => (v && v.length <= 10) || 'Address must be less than 10 characters',
        ],
        city: [
          v => !!v || 'City is required',
          // v => (v && v.length <= 10) || 'City must be less than 10 characters',
        ],
        zip: [
          v => !!v || 'Zip is required',
          // v => (v && v.length <= 10) || 'Zip must be less than 10 characters',
        ],
      }
    };
  },
  computed: {
    countryPlaceholder() {
      if (this.addressObj.country)
        return this.addressObj.country;
      else
        return 'Select...';
    }
  },
  created() {
    EventBus.$on('setLoadingState', (data) => {
      this.loading = data;
    });
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    validate () {
      if(this.$refs.form.validate()){
        this.createAddress();
      }
      else{
        console.log('fail');
        console.log(this.errors);
      }
    },
    createAddress() {
      EventBus.$emit('setLoadingState', true);

      let token = this.$auth.getToken('local');
      console.log('createAddress() - token:');
      console.log(token);

      this.formErrors = [];
      if (this.addressObj.address1 && this.addressObj.zip && this.addressObj.country) {
        this.$apollo.mutate({
          mutation: CUSTOMER_ADDRESS_CREATE,
          variables: {
            customerAccessToken: token,
            address: this.addressObj
          }
        }).then((res) => {
          this.$emit('close');
          EventBus.$emit('customerUpdate');
        }).catch((e) => {
          console.log(e);
          EventBus.$emit('setLoadingState', false);
        });
      } else {
        EventBus.$emit('setLoadingState', false);
        if (!this.addressObj.address1)
          this.formErrors.push('Address Line 1 required.');
        if (!this.addressObj.zip)
          this.formErrors.push('Zip required.');
        if (!this.addressObj.country)
          this.formErrors.push('Country required.');
      }
    }
  },
};
</script>

<style src="./CreateAddress.scss" lang="scss"></style>
