.c-MiniCart {
    position: absolute;//fixed;
    right: 10px;
    top: 10px; /* bottom: 20px; */
    width: 500px;//200px; /* 900px; */
    max-width: calc(100% - 20px);
    padding: 20px 30px 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: none;
    z-index: 20;
    transition: opacity .2s ease;
  
    &--active {
      display: block;
    }
    
    table {
      width: 100%;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }
  
    table td {
      border-bottom: 1px solid #ccc;
      padding: 10px;
    }
  
    table td img {
      width: 100%;
      height: auto;
      max-width: 30px;
    }
  
    table tr:last-child td {
      border-bottom: 0;
    }
  
    table [type="text"] {
      pointer-events: none;
    }
  
    .is-loading {
      opacity: 0.5;
      pointer-events: none;
    }
    .is-hidden {
      opacity: 0;
    }
  
  }


  .c-MiniCart__item {
    //margin-top: 40px;
    padding-bottom: 20px;
    //border-bottom: 1px solid rgba($c-black, 0.2)
  }

  .c-MiniCart__title {
    margin-top: 0;
  }

  .c-MiniCart__summary {

  }

  .c-MiniCart__shipping {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba($c-black, 0.2);
  }

  .c-MiniCart__subtotal {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba($c-black, 0.2);
  }

  .c-MiniCart__actions {
    margin-top: 20px;

    .c-Button {
      margin: 0;
    }
  }

  .c-MiniCart__btn {
    margin-bottom: 30px;
    text-align: right;

    a {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 10px;//11px;
      font-family: $f-expanded;
      text-decoration: none;
      color: $c-grey;
      letter-spacing: 0.2em;
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $c-black;
      }

    }
  }