<template>
  <div :class="['c-MiniCart', {'is-loading': loading}, { 'c-MiniCart--active': getMiniCartStatus }]">
    <client-only>
      <div class="c-MiniCart__btn">
        <a
          class="c-MiniCart__close"
          @click="hideBag()">Bag {{ lineItems.length }}</a>
      </div>

      <div
        v-if="lineItems.length"
        class="c-MiniCart__items">
        <div
          v-for="lineItem in lineItems"
          :key="lineItem.id"
          class="c-MiniCart__item">
          <div class="grid-x grid-margin-x">
            <div class="small-5 cell">
              <img
                :src="getLineItemThumbnailUrl(lineItem)"
                alt=""
                class="c-MiniCart__img">
            </div>

            <div class="small-10 cell">
              <h6 class="c-MiniCart__title">{{ lineItem.title }}</h6>
              <div>{{ lineItem.variant.title }}</div>
            </div>

            <div class="small-5 cell u-align--right">
              <div v-if="lineItem.variant.presentmentPrices">
                <span
                  v-for="(p, index) in lineItem.variant.presentmentPrices"
                  :key="index">
                  <span v-if="p.price.currencyCode === activeCurrency">
                    <!-- {{ formatPrice(p.price.amount * lineItem.quantity) }} {{ activeCurrency }} -->
                    {{ p.price.amount * lineItem.quantity }} {{ activeCurrency }}
                  </span>
                </span>
              </div>

              <button
                class="c-link c-Link--underline"
                @click="removeLineItem(lineItem.id)">Remove</button>
            </div>
          </div>
        </div>

        <!-- <table>
          <tbody>
            <tr>
              <td>&nbsp;</td>
              <td>Product</td>
              <td>&nbsp;</td>
              <td>Quantity</td>
              <td>Presentment Prices</td>
              <td>Price</td>
              <td>&nbsp;</td>
            </tr>
            <tr v-for="lineItem in lineItems" :key="lineItem.id">
              <td><img :src="getLineItemThumbnailUrl(lineItem)" alt=""></td>
              <td>{{lineItem.title}}</td>
              <td>{{lineItem.variant.title}}</td>
              <td>
                <input type="button" value="-" @click="updateLineItemQuantity(lineItem.id, lineItem.quantity, false)">
                <input type="text" :value="lineItem.quantity" readonly="readonly">
                <input type="button" value="+" @click="updateLineItemQuantity(lineItem.id, lineItem.quantity)">
              </td>
              <td>
                <span v-if="lineItem.variant.presentmentPrices">
                  <div v-for="(p, index) in lineItem.variant.presentmentPrices" :key="index">
                    {{p.price.amount + ' ' + p.price.currencyCode}}
                  </div>
                </span>
                <span v-else>&nbsp;</span>
              </td>
              <td>
                <span v-if="lineItem.variant.presentmentPrices">
                  <span v-for="(p, index) in lineItem.variant.presentmentPrices" :key="index">

                    <span v-if="p.price.currencyCode === activeCurrency">
                      {{ formatPrice(p.price.amount * lineItem.quantity) + activeCurrency }}
                    </span>
                  </span>
                </span>
                <span v-else>&nbsp;</span>
              </td>
              <td><button @click="removeLineItem(lineItem.id)">Remove</button></td>
            </tr>
          </tbody>
        </table> -->
        <div
          v-if="lineItems.length"
          class="c-MiniCart__summary">
          <div class="c-MiniCart__shipping grid-x">
            <div class="small-10 cell">Shipping</div>
            <div class="small-10 cell u-align--right">50 {{ activeCurrency }}</div>
          </div>

          <div class="c-MiniCart__subtotal grid-x">
            <div class="small-10 cell">Subtotal</div>
            <div class="small-10 cell u-align--right">{{ formatPrice(showSubtotal) }} {{ activeCurrency }}</div>
          </div>

          <div class="c-MiniCart__actions grid-x align-middle">
            <div class="small-10 cell">
              <router-link
                to="/bag"
                class="c-link c-Link--underline">View Bag</router-link>
            </div>
            <div class="small-10 cell">
              <a
                :href="checkoutUrl"
                class="c-Button c-Button--expanded">Checkout</a>
            </div>
          </div>
        </div>
      </div>
      <span v-else>No items in cart.</span>
    </client-only>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { UPDATE_LINE_ITEMS } from '../../../gql/updateLineItems';
import formatPrice from '../../../mixins/utils';
import fetchPresentmentPrices from '../../../mixins/products';
import { EventBus } from '@/plugins/event-bus';
// import sfyStore from '../../../store/index';

export default {
  mixins: [
    formatPrice,
    fetchPresentmentPrices,
  ],
  // store: sfySgit tore,
  data() {
    return {
      loading: false,
      checkoutUrl: this.$store.getters['shopify/cart/getCheckoutUrl'], //shopify/cart/getCheckoutUrl
    };
  },
  computed: {
    lineItems() {
      // shopify/cart/getCheckoutObject
      //console.log(this.$store.getters['shopify/cart/getCheckoutObject'].lineItems);
      return this.$store.getters['shopify/cart/getCheckoutObject'].lineItems || 0;
    },
    showSubtotal() {
      // shopify/cart/getCheckoutSubtotal
      return this.$store.getters['shopify/cart/getCheckoutSubtotal'].amount;
    },
    getMiniCartStatus() {
      // shopify/cart/getMiniCartStatus
      return this.$store.getters['shopify/cart/getMiniCartStatus'];
    },
    // ...mapState('cart', ['checkoutObject'])
    ...mapState(['checkoutObject'])
  },
  created(){

    EventBus.$on('updatingCart', (data) => {
      this.loading = data;
    });


  },
  methods: {
    hideBag() {
      // shopify/cart/toggleMiniCartStatus
      this.$store.dispatch('shopify/cart/toggleMiniCartStatus');
    },
    removeLineItem(id) {
      this.loading = true;
      // shopify/cart/getCheckoutID
      this.$shopify.checkout.removeLineItems(this.$store.getters['getCheckoutID'], [id]).then(checkout => {
        this.fetchPresentmentPrices(checkout);
      });
    },
    updateLineItemQuantity(id, quantity, increment = true) {
      let item = [{
        id: id,
        quantity: (increment ? quantity + 1 : quantity - 1)
      }];
      // do not allow quantity to fall below 1
      if (quantity === 1 && !increment)
        return;
      this.loading = true;
      // shopify/cart/getCheckoutID
      this.$shopify.checkout.updateLineItems(this.$store.getters['getCheckoutID'], item).then(checkout => {
        this.fetchPresentmentPrices(checkout);
      });
    },
    getLineItemThumbnailUrl(lineItem) {
      return lineItem.variant.image.src.substring(0, lineItem.variant.image.src.indexOf('.jpg')) + '_100x.jpg';
    }
  }
};
</script>

<style src="./MiniCart.scss" lang="scss"></style>
