<template>
  <div class="c-ProductPrice">
    <span class="c-ProductPrice__price main-body-type">
      {{ formatPrice(price2) }}
    </span>
    <span class="c-ProductPrice__currency main-body-type">{{ activeCurrency }}</span>
  </div>
</template>

<script>
import formatPrice from '../../../mixins/utils';
import { EventBus } from '@/plugins/event-bus';

export default {
  mixins: [
    formatPrice
  ],
  props:{
    price2: {
      type: String,
      default: ''
    }
  },
  data(){
    return{
      productPrice: ''
    };
  },
  watch:{
    productPrice(newValue) {
      //console.log('productPrice watcher!');
      //console.log(newValue);
    }
  },
  mounted(){
    EventBus.$emit('productPriceMounted');
  },
};
</script>

<style src="./ProductPrice.scss" lang="scss"></style>
