<template>
  <div class="c-OrderSummary">
    <div class="div1">
      <h2 class="h6">Summary</h2>
    </div>
    <div class="div2">
      <div class="c-OrderSummary__info ">
        <div class="date">Date</div>
        <div class="payment">Payment</div>
        <div class="status">Status</div>
      </div>
      <div class="c-OrderSummary__address">
        <h6>Shipping Address</h6>
        <ul class="u-List--bare u-weight--light">
          <li v-if="order.shippingAddress.name">{{ order.shippingAddress.name }}</li>
          <li>{{ order.shippingAddress.company }}</li>
          <li>{{ order.shippingAddress.address1 }}</li>
          <li>{{ order.shippingAddress.address2 }}</li>
          <li>{{ order.shippingAddress.city }}</li>
          <li>{{ order.shippingAddress.zip }}</li>
          <li>{{ order.shippingAddress.country }}</li>
        </ul>
      </div>
    </div>
    <div class="div3">
      <div class="c-OrderSummary__info u-weight--light">
        <div class="date">{{ order.orderDate | moment("MMMM Do YYYY") }}</div>
        <div class="payment">Paid</div>
        <div class="status">Delivered</div>
      </div>
      <div class="c-OrderSummary__address">
        <h6>Billing Address</h6>
        <ul class="u-List--bare u-weight--light">
          <li v-if="order.shippingAddress.name">{{ order.shippingAddress.name }}</li>
          <li>{{ order.shippingAddress.company }}</li>
          <li>{{ order.shippingAddress.address1 }}</li>
          <li>{{ order.shippingAddress.address2 }}</li>
          <li>{{ order.shippingAddress.city }}</li>
          <li>{{ order.shippingAddress.zip }}</li>
          <li>{{ order.shippingAddress.country }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    order: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      headers: [
        {
          value: 'image',
          sortable: false
        },
        {
          text: 'Product',
          align: 'left',
          sortable: false,
          value: 'product'
        },
        {
          text: 'Quantity',
          align: 'left',
          sortable: false,
          value: 'quantity'
        },
        {
          text: 'Item Price',
          align: 'left',
          sortable: false,
          value: 'price'
        }
      ]
    };
  }
};
</script>

<style src="./OrderSummary.scss" lang="scss"></style>
