.c-OrderSummary {

}

.c-OrderSummary__info {
  line-height: 30px;
}

.c-OrderSummary__details {
  margin-top: 70px;
  margin-bottom: 10px;

  h6 {
    @include v-spacing('margin-top', $VSM5__Account, $VSD5__Account);
    @include v-spacing('margin-bottom', $VSM2__Account, $VSD2__Account);

  }
}

.c-OrderSummary__address {
  h6 {
    @include v-spacing('margin-top', $VSM5__Account, $VSD5__Account);
    @include v-spacing('margin-bottom', $VSM2__Account, $VSD2__Account);
  }
}

.c-OrderSummary__items {
  margin-top: 20px;
  border-top: 1px solid $c-border;
  border-bottom: 1px solid $c-border;
}

.c-OrderSummary__prices {
  padding: 50px 0;
  line-height: 36px;
  border-bottom: 1px solid $c-border;

  table {
    margin-bottom: 40px;

    td {
      padding: 0 0 10px;
    }
  }
}
