<template>
  <div class="c-AddressForm">
    <div v-if="formErrors.length">
      <b>Please correct the following error(s):</b>
      <ul>
        <li
          v-for="(error, index) in formErrors"
          :key="index">{{ error }}</li>
      </ul>
    </div>

    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
      @submit.prevent="validate()"
    >
      <!-- <span v-show="formError" style="color: red">{{ formError }}</span> -->
      <div class="grid-x">
        <div class="cell medium-10 right-gutter-pad">
          <v-text-field
            v-model="addressObj.firstName"
            :rules="rules.name"
            label="First Name"
            required
            class="input--required"
          />
        </div>
        <div class="cell medium-10">
          <v-text-field
            v-model="addressObj.lastName"
            :rules="rules.surname"
            label="Last Name"
            required
            class="input--required"
          />
        </div>
        <div class="cell medium-20">
          <v-text-field
            v-model="addressObj.company"
            label="Company"
          />
        </div>
        <div class="cell medium-20">
          <v-text-field
            v-model="addressObj.address1"
            :rules="rules.address"
            label="Address Line 1"
            required
            class="input--required"
          />
        </div>
        <div class="cell medium-20">
          <v-text-field
            v-model="addressObj.address2"
            :rules="rules.address"
            label="Address Line 2"
            required
            class="input--required"
          />
        </div>
        <div class="cell medium-20">
          <v-text-field
            v-model="addressObj.city"
            :rules="rules.city"
            label="City"
            required
            class="input--required"
          />
        </div>
        <div class="cell medium-20">
          <v-text-field
            v-model="addressObj.zip"
            :rules="rules.zip"
            label="Zip"
            required
            class="input--required"
          />
        </div>
        <div class="cell medium-20 field-country">
          <label for="country">Country
            <country-select
              id="country"
              v-model="addressObj.country"
              :country="addressObj.country"
              :placeholder="addressObj.country"
              :usei18n="false"
              top-country="GB" /></label>
        </div>

        <div
          v-if="!address.default"
          class="cell medium-20 shipping">
          <!--v-model=""
          :checked=""-->
          <v-checkbox
            id="marketing"
            name="marketing"
            label="Make default shipping address"
          />
        </div>
        <div class="cell medium-6 btn btn-save save ">
          <!-- <button
            class="c-Button c-Button--invert"
            @click="updateAddress"
          >
            Save
          </button> -->
          <input
            type="submit"
            class="c-Button c-Button--invert"
            value="Save"
            @submit.prevent="validate()"
          >
        </div>

      </div>

    </v-form>
    <!-- <button
      class="c-Button c-Button--large"
      @click="updateAddress">Save</button> -->
  </div>
</template>

<script>
//@TODO - check scope fo EventBus emits, setLoadingState is not specific
//@TODO - use stored values for form fields
//
import { SET_DEFAULT_ADDRESS } from '../../../gql/setDefaultAddress';
import { CUSTOMER_ADDRESS_UPDATE } from '../../../gql/customerAddressUpdate';
import { EventBus } from '@/plugins/event-bus';

export default {
  props: {
    address: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      addressObj: {
        firstName: this.address.firstName,
        lastName: this.address.lastName,
        company: this.address.company,
        address1: this.address.address1,
        address2: this.address.address2,
        city: this.address.city,
        zip: this.address.zip,
        country: this.address.country
      },
      loading: false,
      formErrors: [],
      valid: true,
      lazy: false,
      rules: {
        name: [
          v => !!v || 'Name is required',
          // v => (v && v.length <= 10) || 'Name must be less than 10 characters',
        ],
        surname: [
          v => !!v || 'Surname is required',
          // v => (v && v.length <= 10) || 'Surname must be less than 10 characters',
        ],
        address: [
          v => !!v || 'Address is required',
          // v => (v && v.length <= 10) || 'Address must be less than 10 characters',
        ],
        city: [
          v => !!v || 'City is required',
          // v => (v && v.length <= 10) || 'City must be less than 10 characters',
        ],
        zip: [
          v => !!v || 'Zip is required',
          // v => (v && v.length <= 10) || 'Zip must be less than 10 characters',
        ],
      }
    };
  },
  created() {
    EventBus.$on('setLoadingState', (data) => {
      this.loading = data;
    });
  },
  methods: {
    validate () {

      console.log('AddressForm - validate()');

      if(this.$refs.form.validate()){
        this.updateAddress();
      }
      else{
        console.log('fail');
        console.log(this.errors);
      }
    },
    setDefault(addressId) {

      EventBus.$emit('setLoadingState', true);
      console.log('AddressForm - setDefault()');

      let token = this.$auth.getToken('local');
      console.log('setDefault() - token:');
      console.log(token);

      this.$apollo.mutate({
        mutation: SET_DEFAULT_ADDRESS,
        variables: {
          customerAccessToken: token,
          addressId: addressId
        },
      }).then((res) => {
        EventBus.$emit('setLoadingState', false);
        EventBus.$emit('customerUpdated', res.data.customerDefaultAddressUpdate.customer);
      }).catch((/*e*/) => {
        //console.log(e);
        EventBus.$emit('setLoadingState', false);
      });
    },
    updateAddress() {
      console.log('AddressForm - updateAddress()');
      let token = this.$auth.getToken('local');
      console.log('updateAddress() - token:');
      console.log(token);

      EventBus.$emit('setLoadingState', true);

      this.formErrors = [];
      if (this.addressObj.address1 && this.addressObj.zip && this.addressObj.country) {
        this.$apollo.mutate({
          mutation: CUSTOMER_ADDRESS_UPDATE,
          variables: {
            customerAccessToken: token,
            id: this.address.id,
            address: this.addressObj
          }
        }).then((res) => {
          EventBus.$emit('customerUpdate');
        }).catch((e) => {
          console.log('e:');
          console.log(e);
          EventBus.$emit('setLoadingState', false);///@TODO!!!! - badly names events
        });
      } else {
        EventBus.$emit('setLoadingState', false);
        if (!this.addressObj.address1)
          this.formErrors.push('Address Line 1 required.');
        if (!this.addressObj.zip)
          this.formErrors.push('Zip required.');
        if (!this.addressObj.country)
          this.formErrors.push('Country required.');
      }
    }
  },
};
</script>

<style src="./AddressForm.scss" lang="scss"></style>
