// .c-Address {
//     // width: calc(40vw - 20px);
//     // margin-right: 20px;
//     padding: 50px 0;
//     transition: opacity .2s ease;
    
//     &:not(:last-child) {
//       border-bottom: 1px solid $c-border;
//     }
// }
  
address {
    font-style: normal;
    margin-bottom: 20px;
  }
  address > span {
    display: block;
  }
  .tag {
    background-color: #fffcaa;
    padding: 5px 8px;
    display: inline-block;
    margin-bottom: 10px;
  }
  .v-card__title {
    display: block;
  }
  input,
  select {
    border: 0;
    border-bottom: 2px solid #ccc;
    padding-left: 0;
  }
  select {
    padding: 5px 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    font-size: 14px;
  }