.c-ProductOptionColor {
  .radio-component {
    position: relative;
    margin-right: 15px;

    label {
      margin: 0;

      border: 1px solid rgba($c-black, 0.2);
      border-radius: 100%;
      padding: 2px;
      width: 19px;
      height: 19px;
      line-height: 1;
    }

    >input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;

      +label .input-box {
        display: inline-block;
        border: none;//1px solid #000;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        width: 13px;//1.3em;
        height: 13px;//1.3em;
        background: #fff;
        overflow: hidden;
        vertical-align: -5%;
        user-select: none;
        line-height: 1;

        >.input-box-circle {
          display: block;
          margin: 50%;
          width: 0%;
          height: 0%;
          background: #000;
          border-radius: 50%;
          opacity: 0;
          transition: width 0.15s ease-in, height 0.15s ease-in, margin 0.15s ease-in;
        }
      }
    }
  }
}