<template>
  <client-only>
    <div
      v-if="option"
      class="c-ProductOptionColor">
      <label
        :for="option.name"
        class="c-ProductOption__label">{{ option.name }}</label>
      <!--option - {{ option }}-->
      <div class="c-ProductOption__variants">
        <div
          v-for="(val, idx) in option.values"
          :value="val"
          :key="idx"
          :class="['c-ProductOption__variant', {'active': val === picked}]"
        >
          <slot :name="`radio${idx}`">
            <label :for="option.name">

              <c-radio
                :name="option.name"
                :value="val"
                v-model="picked"
                :option-name-prefix="optionNamePrefix"
                :checked="val === picked"
                :classes="` ${active()} `"
              >
                <div slot="input-box">
                  <span
                    :class="['input-box']"
                    :style="`background-color: ${getHexFromColorName(val)}`">
                    <span :class="['input-box-circle']" />
                  </span>
                </div>
              </c-radio>
            </label>

          </slot>
        </div>

      </div>
      <span class="c-ProductOption__picked">
        <!-- Picked:  -->
        {{ picked }}
      </span>
    </div>
  </client-only>
</template>

<script>
//@TODO - add css classes

import ProductOption from '../ProductOption/ProductOption';
import getHexFromColorName from '../../../mixins/products';
import { EventBus } from '@/plugins/event-bus';
import CRadio from '@/node_modules/six-storyblok-library/src/components/Atoms/Radio/Radio.vue';

export default {
  components:{
    CRadio
  },
  extends: ProductOption,
  mixins: [
    getHexFromColorName
  ],

  props:{
    option:{
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      optionName: 'Color',
    };
  },
  watch:{
    picked() {//@TODO - dont need both
      EventBus.$emit('productOptionUpdated', this.optionName, this.picked);
      EventBus.$emit('productColor', this.picked);
    }
  },
  created() {
    let self = this;
    // if color param set in url
    if(this.option){
      if (this.$route.query.color) {
        let color = this.$route.query.color;
        this.setColor(color);
      } else {
        this.picked = this.option && this.option.values ? this.option.values[0] : '';
      }
    }

    EventBus.$on('productOptionUpdated', (name, pickedColor) => { //@TODO - shouldn't cross reference cnts this way
      if(name.toLowerCase() !== 'color') { return false; }
      self.selectedColor = pickedColor;
    });

  },
  beforeDestroy(){
    EventBus.$off('productOptionUpdated');
  },
  methods: {
    onProductOptionUpdated(){

    },
    setColor(color){
      let check = this.option.values.filter(val => (val.replace(/\s+/g, '-').toLowerCase()) === color);
      if (check.length !== 0) {
        this.picked = check[0];
      } else {
        this.picked = this.option.values[0];
      }
    },

    onChange(a){
      //console.log('onChange');
      //console.log(a);
      //this.setColor();
    }
  },
};
</script>

<style src="./ProductOptionColor.scss" lang="scss"></style>
