<template>
  <div>
    <transition
      :name="animationType"
      mode="out-in" >
      <div
        v-if="galleryLoaded"
        :class="['c-ProductGallery', {'is-loading' : loading}]"
        :key="imageChange">
        <div
          v-if="images.length > 0"
          class="c-ProductGallery__thumbs"
        >
          <scrollactive
            :offset="0"
            :modify-url="false">
            <a
              v-for="(image, index) in variantImages"
              :href="'#image-'+index"
              :key="index"
              class="scrollactive-item">
              <img
                :src="getThumbnail(image)"
                :alt="image.altL">
            </a>
          </scrollactive>
        </div>

        <!-- <div
          v-if="images.length > 0"
          class="c-ProductGallery__images"
          @click="openModal">
          <VuePureLightbox
            v-scroll-lock="open"
            v-for="(image, index) in variantImages"
            ref="lightbox"
            :id="'image-'+index"
            :key="index"
            :thumbnail="image.src"
            :images="[image.src]"
            :alternate-text="image.altL"
            class="c-ProductImage">
            <template v-slot:content>
              <v-lazy-image
                v-if="image"
                :src="image.src"
                :srcset="getSrcset(image)"
                :alt="image.altL"
                @click.native="closeModal(index)"
                sizes="(max-width: 320px) 320px, (max-width: 640px) 640px, 1024px" />
            </template>
          </VuePureLightbox>
        </div> -->

        <div
          v-if="images.length > 0"
          class="c-ProductGallery__images">
          <ProductGalleryImage
            v-for="(image, index) in variantImages"
            :id="'image-'+index"
            :key="index"
            :image="image"
          />
        </div>

        <img
          v-else
          src="//placehold.it/1370x1920"
          alt="#" >
      </div>
    </transition>
  </div>
</template>

<script>
import VuePureLightbox from 'vue-pure-lightbox';
import { EventBus } from '@/plugins/event-bus';
import buildVariantImagesFromOption from '../../../mixins/products';

import ProductGalleryImage from '../../Molecules/ProductGalleryImage/ProductGalleryImage';


export default {
  components: {
    ProductGalleryImage,
    // VuePureLightbox
  },
  mixins: [
    buildVariantImagesFromOption
  ],
  props: {
    images: {
      type: Array,
      default: () => []
    },
    groupWithAltTag: {//@TODO - not used and should be used
      type: Boolean,
      default: true
    },
    animationType: {
      type: String,
      default: 'fade'
    },
    options: {
      type: Array,
      default: () => [],
    },
    variantID: {
      type: String,
      default: ''
    },

  },
  data() {
    return {
      loading: false,
      variantImages: (this.variantID ? this.variantImages : this.images),
      triggerOptions: [
        'Color',
        'Material'
      ],//@TODO - test without trigger options, add conditions
      possibleAltTags: [],
      imageChange: '',
      galleryLoaded: false,
      open: false
    };
  },
  created() {
    let self = this;
    this.setPossibleOptAltTags();//@TODO - needed??
    EventBus.$on('variantSelected', (selectedVariant, selectedOptions) => {
      self.updateProductVariantImages(
        self.images,
        self.possibleAltTags,
        selectedOptions,
        self.triggerOptions
      );
      this.galleryLoaded = true;
    });
  },
  beforeDestroy(){
    EventBus.$off('variantSelected');
  },
  mounted() {
    //console.log('gallery mounted');
  },
  methods: {
    getSrcset(img) {
      let thumbnail = img.originalSrc,
        small = thumbnail.replace('.jpg', '_400x800.jpg'),
        medium = thumbnail.replace('.jpg', '_450x900.jpg'),
        large = img.src;
      return `${small} 320w, ${medium} 640w, ${large} 1024w`;
    },
    getThumbnail(img) {
      return img.originalSrc.replace('.jpg', '_400x800.jpg');
    },
    openModal() {
      this.open = true;
    },
    closeModal(index) {
      this.open = false;
      this.$refs.lightbox[index].hide();
    },
    updateProductVariantImages(images, possibleAltTags, selectedOptions, triggerOptions){
      let getVariantImages = this.buildVariantImagesFromOption(
        images,
        possibleAltTags,
        selectedOptions,
        triggerOptions
      );

      if(this.variantImages !== getVariantImages && getVariantImages.length >= 1){
        this.variantImages = getVariantImages;
        this.imageChange = getVariantImages[0].id + getVariantImages.length;
      }

      if(!getVariantImages.length) {
        this.variantImages = this.images;
        this.imageChange = '';
      }
    },
    setPossibleOptAltTags(){
      this.possibleAltTags = this.buildPossibleOptAltTags(this.triggerOptions, this.options);
    }
  }
};
</script>

<style src="./ProductGallery.scss" lang="scss"></style>
