.c-ProductGallery {
    position: relative;
    min-height: 100vh;

    @include breakpoint(xmedium down) {
        display: none;
    }
}

.c-ProductGallery__thumbs {
    position: absolute;
    top: 0;
    left: 20px;
    height: 100%;
    z-index: 1;

    @include breakpoint(xmedium down) {
        display: none;
    }

    .scrollactive-nav {
        position: sticky;
        top: 0;//50%;
        //left: 20px;
        // transform: translateY(-50%);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100vh;
        padding: 50px 0;
    }


    a {
        display: block;
        margin: 0 auto 15px;
        // border: 1px solid rgba($c-black, 0.1);
        transition: opacity 0.3s ease-in-out; // border
        position: relative;
        width: 42px;//75px;
        height: 62px;//100px;
        overflow: hidden;

        &:hover,
        &:focus,
        &:active {
            outline: none;
        }

        &:last-child {
            margin: 0 auto;
        }

        &.is-active {
            // border: 1px solid rgba($c-black, 0.7);
            opacity: 0.5;
        }
    }

    img {
        // width: 75px;
        // height: 100px;
        object-fit: cover;
        object-position: center;
        position: absolute;
        height: 100%;
    }
}



.c-ProductImage {
    display: block;
    width: 100%;
    height: 0;
    // padding-bottom: 100vh;
    padding-bottom: 130%;
    position: relative;

    @include breakpoint(medium down) {
        display: none;
    }
}

.c-ProductImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}
