<template>
  <div
    v-if="ready"
    class="c-MobilePanel c-MobilePanel--filters"
  >
    <div class="c-MobilePanel__header">
      <div class="c-MobilePanel__title">
        Filters
      </div>

      <button
        class="c-MobilePanel__close"
        @click.prevent="hideMobilePanel"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14.207"
          height="14.207"
          viewBox="0 0 14.207 14.207"><g transform="translate(-340.197 -22.146)"><line
            y1="13.5"
            x2="13.5"
            transform="translate(340.551 22.5)"
            fill="none"
            stroke="#7f7f7f"
            stroke-width="1"/><line
              x1="13.5"
              y1="13.5"
              transform="translate(340.551 22.5)"
              fill="none"
              stroke="#7f7f7f"
              stroke-width="1"/></g></svg>
      </button>
    </div>

    <div class="c-MobilePanel__inner" body-scroll-lock-ignore>
      <nav class="[ c-MobileNav ]">
        <ul>
          <li
            v-for="(filter, filterKey) in filters"
            :key="filterKey"
          >
            <span>
              <button
                class="c-Nav__item"
                @click="showSubmenu($event)"
              >
                {{ filterKey }} <span
                  v-if="filter.length"
                  v-text="filter.length"/>
              </button>
            </span>

            <button
              class="c-Nav__arrow"
              @click="showSubmenu($event)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8.363"
                height="14.559"
                viewBox="0 0 8.363 14.559"
              >
                <g transform="translate(-339.844 -22.148)">
                  <path
                    d="M0,6.5,6.081.813,6.949,0"
                    transform="translate(340.551 29.5)"
                    fill="none"
                    stroke="#7f7f7f"
                    stroke-linecap="square"
                    stroke-width="1"
                  />
                  <line
                    x1="6.949"
                    y1="7"
                    transform="translate(340.551 22.5)"
                    fill="none"
                    stroke="#7f7f7f"
                    stroke-width="1"
                  />
                </g>
              </svg>
            </button>

            <ul class="c-Nav__submenu" >
              <li class="back">
                <button
                  class="c-Nav__item c-Nav__item--back"
                  @click="goBack($event)"
                >
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15.971" height="8.814" viewBox="0 0 15.971 8.814"><defs><clipPath id="a"><rect width="8.814" height="15.971" fill="none"/></clipPath></defs><g transform="translate(15.971) rotate(90)" clip-path="url(#a)"><g transform="translate(-948 -890.807)"><path d="M25.714,1.092l-.685.757s1.933,2.107,2.9,2.987v.121c-.967,1.007-2.9,3.088-2.9,3.088l.685.909L29.456,4.9Z" transform="translate(956.955 875.321) rotate(90)" fill="#7f7f7f"/></g></g></svg> Back -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="8.363"
                    height="14.559"
                    viewBox="0 0 8.363 14.559"
                  >
                    <g transform="translate(348.207 36.707) rotate(180)">
                      <path
                        d="M0,6.5,6.081.813,6.949,0"
                        transform="translate(340.551 29.5)"
                        fill="none"
                        stroke="#7f7f7f"
                        stroke-linecap="square"
                        stroke-width="1"/>
                      <line
                        x1="6.949"
                        y1="7"
                        transform="translate(340.551 22.5)"
                        fill="none"
                        stroke="#7f7f7f"
                        stroke-width="1"/>
                    </g>
                  </svg> Back
                </button>
              </li>

              <li
                v-for="(value, index) in filter"
                :key="index"
                :class="`c-FilterOption ${isActive(filterKey, value) ? 'c-FilterOption--active' : ''} item-${index} ${hover===`item-${index}` ? 'active' : ''}`"
                @mouseover="hover = `item-${index}`"
                @mouseleave="hover = ''"
              >
                <!-- <input
                  :id="value + index"
                  v-model="appliedFilter"
                  :name="filterKey"
                  :value="value"
                  type="checkbox"
                > -->
                <label
                  :for="value + index"
                  class="item-label"
                >{{ value.replace(/-/g, ' ') }}</label>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <div class="c-MobilePanel__footer">
      <button
        class="c-Button"
        @click.prevent="clearFilters()"
      >
        Clear
      </button>
      <button
        class="c-Button c-Button--invert"
        @click.prevent="hideMobilePanel()"
      >
        Apply
      </button>
    </div>
  </div>
</template>

<script>
import { EventBus } from '@/plugins/event-bus';
import { disableBodyScroll, enableBodyScroll} from 'body-scroll-lock';

export default {
  props: {
    filters: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      ready: false,
      //activeFilter: true, //tmp
      // filters: [],
      activeFilter: '',
      appliedFilter: [],
      hover: '',
    };
  },
  // computed: {
  //   appliedFilters: {
  //     get: function() {
  //       return this.$parent.appliedFilters;
  //     },
  //     set: function(newValue) {
  //       this.$parent.appliedFilters = newValue;
  //     }
  //   }
  // },
  mounted() {
    console.log('FiltersMobilPanel.vue');
    this.ready = true;
  },
  methods: {
    isActive(filterKey, value){
      let activeFilters = this.$route.query[filterKey];

      if(activeFilters !== undefined){
        // console.log(activeFilters.includes(value));
        return activeFilters.includes(value) ? true : false;
      }

      return false;
    },
    clearFilters() {
      // this.appliedFilters = [];

      let query = Object.assign({}, this.$route.query);
      delete query.color;
      delete query.size;
      this.$router.replace({ query }).catch(err => {});

    },
    hideMobilePanel() {
      document.body.classList.remove('showMobilePanel');
      enableBodyScroll(document.body);
    },
    showSubmenu(event) {
      event.target.parentElement.parentElement.classList.add('active');
    },
    goBack(event) {
      event.target.parentElement.parentElement.parentElement.classList.remove('active');
    },

    closeOptions() {
      window.addEventListener('click', function(e){
        EventBus.$emit('closeFilterPanels', e.target);
      });
    },
    showCount(f) {
      return '';
    },
  }
};
</script>

<style src="./FiltersMobilePanel.scss" lang="scss" scoped></style>
