.c-MobilePanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;//100vh;
    z-index: 9999;
    overflow: hidden;
    background-color: $c-white;
    transform: translateX(-100%); // Hide -> change for active
    visibility: hidden;
    transition: transform 0.5s ease-in-out, visibility 0s 0.5s;


    @include breakpoint(large) {
        display: none;
    }

    a, button {
        outline: none;
    }

    .showMobilePanel & { // Active
        transform: translateX(0);
        visibility: visible;
        transition: transform 0.5s ease-in-out, visibility 0s;
    }

    &__close {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    &__header {
        position: relative;
        padding: 20px;// 25px;
        border-bottom: 1px solid $c-border;
    }

    &__inner {
        padding: 25px 20px;
        flex: 1;
    }

    &__footer {
        padding: 20px;// 25px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;

                &:first-child {
                    a {
                        margin-left: 0;
                    }
                }

                a {
                    color: $c-black;
                }
            }
        }

        .c-Button {
            display: block;
            margin-top: 15px;
            width: 100%;
        }
    }
}

.c-MobilePanel--filters .c-MobileNav {
    position: relative;
    height: 100%;
    overflow-y: scroll;

    > ul {
        // > li {
        //     > a,
        //     > span {
        //         padding-top: 15px;//25px;
        //         padding-bottom: 15px;//25px;
        //     }
        // }

        ul {
            position: absolute;
            top: 0;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            &.active {
                .c-Nav__submenu {
                    // display: block;
                    transform: translateX(0);
                }
            }
        }
    }
    .c-Nav__item {
        margin: 0 auto;
        display: inline-block;
        line-height: 31px;
        color: $c-black;
    }

    .c-Nav__arrow {
        float: right;
        line-height: 42px;//31px;
    }

    .c-Nav__submenu {
        position: absolute;
        top: 0;
        background-color: $c-white;
        color: $c-black;
        z-index: 1;
        width: 100%;
        height: 100%;
        transform: translateX(110%); // -100%
        transition: transform 0.5s ease-in-out;

        li {
            display: block;

            &.back {
                margin-top: -10px;
            }
        }

        .c-Nav__item {
            font-family: $f-body;
            font-size: 14px;
            font-weight: 300;
            line-height: 28px;
            text-transform: capitalize;
            letter-spacing: 0;
            // color: rgba($c-black, 0.5)!important;

            // &:hover {
            //     color: $c-black!important;
            // }

            &--back {
                width: 100%;
                text-align: left;
                margin-bottom: 10px;
                width: 100%;
                text-align: left;
                font-size: 14px;
                line-height: 38px;

                display: flex;
                flex-direction: row;
                align-items: center;

                svg {
                    margin-right: 5px;
                }
            }
        }
    }
}

.c-MobilePanel__title {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.c-FilterOption {
    position: relative;
    // margin-bottom: 10px;
    // padding: 0 30px;
    font-size: 10px;
    // letter-spacing: 0.1em;
    line-height: 42px;//31px;
    color: grey;
    text-transform: capitalize;
    z-index: 1;

    &.c-FilterOption--active {
        label{
            color: $c-black;
        }
    }

    label {
      margin: 0;
      display: inline-block;
      color: rgba($c-black, 0.4);
      font-size: 14px;//10px;
      // letter-spacing: 0.2em;

        @include breakpoint(small down) {
            font-size: 16px;
        }
    }

    input[type=checkbox],
    input[type=radio] {
      display: none;
    }

    input[type=checkbox] + label,
    input[type=radio] + label {
      cursor: pointer;
      background: none;
      width: 100%;
    }

    input[type=checkbox]:checked + label,
    input[type=radio]:checked + label {
      color: $c-black;
    }
}
