.c-CurrencySwitcher {
    display: inline-block;
    font-size: 15px;
    //margin-left: 10px;
    // float: right;

    // select {
    //     margin: 0;
    // }

    button {
        border-bottom: 1px solid rgba($c-white, 0.5);
        position: relative;
        top: -5px;
    }
}

.c-CurrencySwitcher__currencies {
    margin: 0;
    list-style: none;
    max-height: 110px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 1px;
    }
       
    // &::-webkit-scrollbar-track {
    //     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    // }
       
    &::-webkit-scrollbar-thumb {
        background-color: $c-white;
        outline: none;//1px solid slategrey;
    }

    li {
        margin-bottom: 5px;
    }
}

.c-CurrencySwitcher__currency {
    color: rgba($c-white, 0.5);
    font-size: 15px;
    cursor: pointer;

    &:hover {
        color: $c-white;
    }

    &--active {
        color: $c-white;
        padding-bottom: 3px;
        border-bottom: 1px solid rgba($c-white, 0.5);
    }
}
