<template>
  <div class="c-CurrencySwitcher">
    <button
      v-if="!display"
      @click="showCurrencies">{{ getCurrencyName(activeCurrency) }} ({{ activeCurrency }})</button>

    <ul
      v-if="display"
      class="c-CurrencySwitcher__currencies"
    >
      <li
        v-for="(currency, index) in currencies"
        :key="index"
        :value="currency"
        @click="setActiveCurrency(currency)"
      >
        <span :class="['c-CurrencySwitcher__currency', {'c-CurrencySwitcher__currency--active': currency === activeCurrency}]">
          {{ getCurrencyName(currency) }} ({{ currency }})
        </span>
      </li>
    </ul>

    <!-- <select
      v-model="defaultCurrency"
      @change="setActiveCurrency">
      <option
        v-for="(currency, index) in currencies"
        :key="index"
        :value="currency">
        {{ currency }}
      </option>
    </select> -->
  </div>
</template>

<script>
// import { SHOP_PROFILE_CURRENCIES } from '../../../gql/shopProfileCurrencies';
// import sfyStore from '../../../store/index';

export default {
  // store: sfyStore,
  data() {
    return {
      defaultCurrency: '',
      display: false,
      currenciesData: {
        'AUD': {
          'symbol': 'AU$',
          'name': 'Australian Dollar',
          'symbol_native': '$',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'AUD',
          'name_plural': 'Australian dollars'
        },
        'CAD': {
          'symbol': 'CA$',
          'name': 'Canadian Dollar',
          'symbol_native': '$',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'CAD',
          'name_plural': 'Canadian dollars'
        },
        'EUR': {
          'symbol': '€',
          'name': 'Euro',
          'symbol_native': '€',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'EUR',
          'name_plural': 'euros'
        },
        'DKK': {
          'symbol': 'Kr',
          'name': 'Danish Krone',
          'symbol_native': 'Kr',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'DKK',
          'name_plural': 'krones'
        },
        'SEK': {
          'symbol': 'Kr',
          'name': 'Swedish Krone',
          'symbol_native': 'Kr',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'SEK',
          'name_plural': 'krones'
        },
        'GBP': {
          'symbol': '£',
          'name': 'British Pound Sterling',
          'symbol_native': '£',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'GBP',
          'name_plural': 'British pounds sterling'
        },
        'HKD': {
          'symbol': 'HK$',
          'name': 'Hong Kong Dollar',
          'symbol_native': '$',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'HKD',
          'name_plural': 'Hong Kong dollars'
        },
        'JPY': {
          'symbol': '¥',
          'name': 'Japanese Yen',
          'symbol_native': '￥',
          'decimal_digits': 0,
          'rounding': 0,
          'code': 'JPY',
          'name_plural': 'Japanese yen'
        },
        'NZD': {
          'symbol': 'NZ$',
          'name': 'New Zealand Dollar',
          'symbol_native': '$',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'NZD',
          'name_plural': 'New Zealand dollars'
        },
        'SGD': {
          'symbol': 'S$',
          'name': 'Singapore Dollar',
          'symbol_native': '$',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'SGD',
          'name_plural': 'Singapore dollars'
        },
        'USD': {
          'symbol': '$',
          'name': 'US Dollar',
          'symbol_native': '$',
          'decimal_digits': 2,
          'rounding': 0,
          'code': 'USD',
          'name_plural': 'US dollars'
        },
      }
    };
  },
  // created() {
  //   this.defaultCurrency = this.activeCurrency;
  //   this.$apollo.query({
  //     query: SHOP_PROFILE_CURRENCIES
  //   })
  //     .then((res) => {
  //       let data = res.data.shop.paymentSettings.enabledPresentmentCurrencies;

  //       //console.log('res.data.shop.paymentSettings:');
  //       //console.log(res.data.shop.paymentSettings);

  //       if (data)
  //         this.$root.$store.dispatch('shopify/currency/setCurrencies', data);
  //     })
  //     .catch((e) => {
  //       console.log(e);
  //     });
  // },
  computed:{
    currencies(){
      return this.$store.getters['shopify/currency/getCurrencies'];
    },
  },
  mounted() {
    //console.log(this.$store.getters['shopify/currency/activeCurrency']);
    //console.log(this.$store.getters['shopify/currency/currencies']);
  },
  methods: {
    // setActiveCurrency(e) {
    //   this.$store.dispatch('setActiveCurrency', e.target.value);
    // },
    setActiveCurrency(currency) {
      console.log('setActiveCurrency() - currency:', currency);
      this.$root.$store.dispatch('shopify/currency/setActiveCurrency', currency);
      this.defaultCurrency = this.activeCurrency;
      this.display = false;
    },
    showCurrencies() {
      this.display = true;
    },
    getCurrencyName(currency) {
      return this.currenciesData[currency].name;
    }
  }
};
</script>

<style src="./CurrencySwitcher.scss" lang="scss"></style>
