<template>
  <client-only>
    <div :class="`c-FilterSort c-FilterBlocks c-FilterBlocks--sort ${hideClass}`">
      <div class="c-FilterBlocks__label">
        Sort by
      </div>
      <div class="c-FilterBlock"> <!--:for="sortby"-->
        <label
          v-if="showLabel"
          @click="showOptions()"
        >
          <span
            class="label-wrap"
          >
            {{ sortSelectedLabel }}
          </span>

          <span class="arrow">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12.322"
              height="6.938"
              viewBox="0 0 12.322 6.938"><path
                d="M26.1,1.092,25.029,2.278s3.03,3.3,4.545,4.682v.19c-1.516,1.577-4.545,4.839-4.545,4.839L26.1,13.414l5.864-6.358Z"
                transform="translate(13.414 -25.029) rotate(90)"/></svg>
          </span>
        </label>

        <ul :class="[{ active: 'sortby' === activeFilter }, { 'has-active-link': hover !== ''}]">
          <li
            :class="`item-0 ${hover==='item-0' ? 'active' : ''}`"
            @mouseover="hover = 'item-0'"
            @mouseleave="hover = ''"
          >
            <input
              id="1"
              v-model="sortSelected"
              type="radio"
              value="newest"
              @change="sortProducts"
            >
            <label for="1">Newest</label>
          </li>
          <li
            :class="`item-1 ${hover==='item-1' ? 'active' : ''}`"
            @mouseover="hover = 'item-1'"
            @mouseleave="hover = ''"
          >
            <input
              id="2"
              v-model="sortSelected"
              type="radio"
              value="price-desc"
              @change="sortProducts"
            >
            <label for="2">Price high to low</label>
          </li>
          <li
            :class="`item-2 ${hover==='item-2' ? 'active' : ''}`"
            @mouseover="hover = 'item-2'"
            @mouseleave="hover = ''"
          >
            <input
              id="3"
              v-model="sortSelected"
              type="radio"
              value="price-asc"
              @change="sortProducts"
            >
            <label for="3">Price low to high</label>
          </li>
        </ul>
      </div>
    </div>
  </client-only>
</template>

<script>
import sortByParam from '../../../mixins/utils.js';
import sortByNewest from '../../../mixins/utils.js';
import { EventBus } from '@/plugins/event-bus';
//import CFilter from '../Filter/Filter';

export default {
  //extends: CFilter,//@TODO - should be an extension
  mixins: [
    sortByParam, sortByNewest
  ],
  props: {
    showLabel: {
      type: Boolean,
      default: false
    },
    hidden: {
      default: false,
      type: Boolean,
      required: false,
    }
  },
  data() {
    return {
      sortSelected: this.$route.query.orderby || '',
      activeFilter: '',
      hover: '',
      isHidden: this.hidden,
    };
  },
  computed:{
    hideClass(){
      return this.isHidden ? 'hidden' : '';
    },
    products() {
      return this.$parent.products;
    },
    sortSelectedLabel() {
      if (this.sortSelected === 'price-asc')
        return 'Price low to high';
      else if (this.sortSelected === 'price-desc')
        return 'Price high to low';
      else if (this.sortSelected === 'newest')
        return 'Newest';
      else
        return 'Default';
    }
  },
  mounted() {
    let self = this;
    setTimeout(() => {
      self.isHidden = false;
    }, 2000);

    this.closeOptions();

  },
  created(){
    EventBus.$on('closeFilterPanels', (target) => {
      if (document.getElementById('js-filter-panel') && !document.getElementById('js-filter-panel').contains(target)){
        this.activeFilter = '';
        this.removeOverlay();
      }
    });
    EventBus.$on('showOptions', (key) => {
      if(this.activeFilter === key) {
        this.activeFilter = '';
      } else {
        this.activeFilter = key;
      }
      if(this.activeFilter){
        this.addOverlay();
      } else {
        this.removeOverlay();
      }
    });
  },
  beforeDestroy(){
    EventBus.$off('closeFilterPanels');
    EventBus.$off('showOptions');
  },
  methods: {
    sortProducts() {
      let v = event.target.value;
      this.loading = true;
      // append query string to url
      if (v) {

        //this.$router.push({query: {...this.$route.query, orderby: v}}).catch(err => {});

        this.$router.push({query: {...this.$route.query, orderby: v}});

        // update local state
        this.sortSelected = v;
        // sort products by price ascending
        if (v === 'price-asc') {
          this.sortByParam(this.products, 'priceFrom');
          this.loading = false;
          // sort products by price descending
        } else if (v === 'price-desc') {
          this.sortByParam(this.products, 'priceFrom', false);
          this.loading = false;
        } else if (v === 'newest') {
          this.sortByNewest(this.products, 'createdAt');
          this.loading = false;
        }
      } else {
        // reset
        let query = Object.assign({}, this.$route.query);
        delete query.orderby;
        this.$router.replace({query});
        this.loading = false;
      }
    },
    showOptions() {
      EventBus.$emit('showOptions', 'sortby');
    },
    closeOptions() {
      window.addEventListener('click', function(e){
        EventBus.$emit('closeFilterPanels', e.target);
      });
    },
    addOverlay() {
      let products = document.getElementsByClassName('c-Products')[0];
      if (products){
        products.classList.add('overlay');
      }
    },
    removeOverlay() {
      let products = document.getElementsByClassName('c-Products')[0];
      if (products){
        products.classList.remove('overlay');
      }
    }
  },
};
</script>

<style src="./FilterSort.scss" lang="scss"></style>
