
.c-FilterSort {
  display: flex;
  align-items: flex-start;

  &.hidden{
    visibility: hidden;
  }


  .c-FilterBlocks__label {
    padding: 0 30px 0 0;
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    align-self: center;
  }

  .c-FilterBlock{
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 100%;
  }

  select {
    display: inline-block;
    margin: 10px auto;
    width: auto;
    // direction: rtl;
    text-align-last: right;
    //border-left: 1px solid rgba($c-black, 0.2);
    // border-right: 1px solid rgba($c-black, 0.2);
    font-family: $f-expanded;
    font-size: 10px;
    padding-left: 30px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }


}

.c-FilterSort__label {
  //float: left;
  display: inline-block;
  margin: 20px auto;
  padding: 0 30px 0 0;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $c-black;
}

.c-FilterBlocks--sort {

  @include breakpoint(medium) {
    display: block;
  }

  .c-FilterBlock {
    min-width: 230px;

    padding-right:0;
    border-right: none;

    & > label {
      padding-right: 0;
    }

    li {
      text-align: right;
      padding-right: 0;
    }
  }


}
