<template>
  <div class="c-Orders">

    <div class="grid-x c-Orders__heading-labels">
      <div class="small-4">Order</div>
      <div class="small-4">Date</div>
      <div class="small-3">Payment</div>
      <!--<div class="small-4">Status</div>-->
      <div class="small-6">Total</div>
      <div class="small-2 u-align--right"></div>
    </div>

    <div
      v-for="(item, index) in orders"
      :key="index"
      class="grid-x c-Orders__data">

      <!--<pre>
        {{ item }}
      </pre>-->

      <div class="small-4">{{ item.orderNo }}</div>
      <div class="small-4">{{ item.orderDate | moment("DD/MM/YY") }}</div>
      <div class="small-3">Paid {{ item.quantity }}</div>

      <!--<div class="small-4">
        <div>{{ item.orderStatus.text }}</div>
        <div>
          <a
            v-if="item.orderStatus.status==='fulfilledWithTracking'"
            :href="item.orderStatus.url"
            target="_blank"
            class="c-Link c-Link&#45;&#45;underline">Track order
          </a>
        </div>
      </div>-->

      <div class="small-6">{{ item.orderTotal }}</div>
      <div class="small-2 u-align--right">
        <nuxt-link
          :to="`/account/orders/${item.orderNo.substr(1)}`"
          class="c-Link c-Link--underline">
          View
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    orders: {
      type: Array,
      default: () => [],
      required: true
    }
  },
  data() {
    return {
      headers: [
        {
          value: 'image',
          sortable: false
        },
        {
          text: 'Product',
          align: 'left',
          sortable: false,
          value: 'product'
        },
        {
          text: 'Quantity',
          align: 'left',
          sortable: false,
          value: 'quantity'
        },
        {
          text: 'Item Price',
          align: 'left',
          sortable: false,
          value: 'price'
        }
      ]
    };
  },
  computed:{
    trackingUrl(){

    }
  },
  mounted(){
    //console.log(typeof this.orders && Array.isArray(this.orders));
  },
};
</script>

<style src="./Orders.scss" lang="scss"></style>
