.c-Orders {
  
  table {
    thead {
      tr {
        border-bottom: 1px solid $c-border;

        th {
          font-weight: normal;
        }
      }
    }

    tbody {
      font-weight: 300;
      
      tr {
        border-bottom: 1px solid $c-border;

        td {
          padding: 50px 0;
        }
      }
    }
  }
}