<template>
  <div
    v-if="order.lineItems && order.lineItems[0]"
    class="c-OrderDetails">
    <h6>Order Details</h6>

    <div class="grid-x">
      <div class="label-product cell small-10 medium-10">
        Product
      </div>
      <div class="label-total cell small-10 medium-10">
        <div class="u-align--right">
          Total
        </div>
      </div>

      <div class="c-OrderDetails__items small-20 medium-20">
        <div
          v-for="(item, index) in order.lineItems"
          :key="index"
          class="small-20 medium-20 c-OrderDetails__item"
        >
          <div class="grid-x">
            <div
              class="title cell small-10 medium-10 u-weight--light">
              {{ item.title }}
            </div>
            <div
              class="price cell small-10 medium-10 u-align--right">
              {{ item.price }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-x">
      <div class="label-sub-total cell small-10 medium-10">Subtotal</div>
      <div class="order-sub-total cell small-10 medium-10 u-align--right">{{ order.orderSubTotal }}</div>
      <div class="label-order-total cell small-10 medium-10">Total</div>
      <div class="order-total cell small-10 medium-10 u-align--right">{{ order.orderTotal }}</div>
    </div>
  </div>

</template>

<script>
export default {
  props: {
    order: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      headers: [
        {
          value: 'image',
          sortable: false
        },
        {
          text: 'Product',
          align: 'left',
          sortable: false,
          value: 'product'
        },
        {
          text: 'Quantity',
          align: 'left',
          sortable: false,
          value: 'quantity'
        },
        {
          text: 'Item Price',
          align: 'left',
          sortable: false,
          value: 'price'
        }
      ]
    };
  }
};
</script>

<style src="./OrderDetails.scss" lang="scss"></style>
