.c-OrderDetails {

}

.c-OrderSummary__info{
  .date, .payment, .status{
    @include v-spacing('padding-top', $VSM1__Account/2, $VSD1__Account/2);
  }
}

.c-OrderDetails__info {
  line-height: 30px;
}

.c-OrderDetails {
  margin-top: 70px;
  margin-bottom: 10px;

  h6 {
    margin-top: 30px;
  }
}

.c-OrderDetails__address {
  margin-top: 30px;

  h6 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.c-OrderDetails{
  .label-product, .label-total{
    @include v-spacing('margin-top', $VSM5b__Account, $VSD5b__Account);
    @include v-spacing('padding-bottom', $VSM3__Account, $VSD3__Account);
    border-bottom: 1px solid $c-border;

  }
  .label-sub-total, .order-sub-total{
    @include v-spacing('margin-top', $VSM4c__Account, $VSD4c__Account);
    @include v-spacing('padding-bottom', $VSM2__Account, $VSD2__Account);

  }
}

.c-OrderDetails__prices {
  padding: 50px 0;
  line-height: 36px;
  border-bottom: 1px solid $c-border;
}

.c-OrderDetails__items{
  .c-OrderDetails__item{
    &:first-child{
      border-top: 1px solid $c-border;
    }

    &:last-child{
      border-bottom: 1px solid $c-border;
    }
  }
}
