<template>
  <div class="c-RelatedProducts">
    <div class="c-RelatedProducts__wrapper">
      <div class="left-gutter right-gutter">
        <h3>You May Also Like</h3>
      </div>

      <!--products:

      <pre>
        {{ products }}
      </pre>-->

      <div class="left-gutter right-gutter products grid-x">
        <div class="small-14 medium-20 cell">
          <vue-glide
            :options="glideOptions"
          >
            <vue-glide-slide
              v-for="(product, index) in products"
              :key="index"
            >
              <CProduct :product="product" />
            </vue-glide-slide>
          </vue-glide>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
//@TODO - fix aliases
import CProduct from '../../Molecules/ProductBox/ProductBox.vue';
import { EventBus } from '@/plugins/event-bus';
import gtmGetProductsViewData from '@/mixins/trackers/gtm.js';

export default {
  components: {
    CProduct
  },
  mixins:[
    gtmGetProductsViewData
  ],
  props: {
    blok:{
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      loading: false,
      glideOptions: {
        perView: 4,
        gap: 20,
        rewind: false,//true,
        breakpoints: {
          1024: {
            perView: 3,
            gap: 20
          },
          768: {
            perView: 2,
            gap: 20
          },
          640: {
            perView: 1,
            gap: 20
          },
          320: {
            perView: 1,
            gap: 10
          }
        }
      },
    };
  },
  computed: {
    title() {
      return this.blok.title || 'You May Also Like';
    },
    products() {
      return this.blok.products ? this.buildProducts(this.blok.products) : {};
    }
  },
  created() {
    EventBus.$on('loadingRecommendedProducts', (data) => {
      this.loading = data;
    });
  },
  beforeDestroy(){
    EventBus.$off('loadingRecommendedProducts');
  },
  mounted() {
    //console.log(1);

    setTimeout(() => {
      //console.log('mounted() - gtmGetProductsViewData():', self.gtmGetProductsViewData());
      EventBus.$emit(
        'gtm__event__six-shopify-library__Products__mounted',
        this.gtmGetProductsViewData(null, this.blok.products),
        this.$gtm
      );
    }, 3000);

  },
  methods:{

    buildProducts(products) {
      //console.log('buildProducts(product) :', product);

      if(products.length === 0) return null;
      let builtProducts = [];
      products.forEach((p)=>{
        builtProducts.push(this.buildProduct(p));
      });
      return builtProducts;
    },

    buildProduct(product) {
      //console.log('buildProduct(product) :', product);

      if(product) {
        return {
          ...JSON.parse(product.content.json),
          ...{title: product.content.title},
          ...{list: this.list},
          ...{pre_order_data: product.pre_order_data},
        };
      }
    }
  }
};
</script>

<style src="./RelatedProducts.scss" lang="scss"></style>
