.c-RelatedProducts {
	overflow: hidden;

	.swiper-container {
	  padding: 0 2.1875rem;

	  @include breakpoint(xmedium down) {
	    padding: 0 2.8125rem;
	  }

	  @include breakpoint(medium down) {
	    padding: 0 1.875rem;
	  }

	  @include breakpoint(small down) {
	    padding: 0 1.25rem;
	  }
	}

	h3 {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
	}
}

.c-ProductList {
  transition: opacity .2s ease;
  background-color: pink;
  clear: both;
}
.is-loading {
  opacity: .5;
}
