<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import Products from './components/Pages/Products.vue';

export default {
  name: 'App',
  components: {
    Products
  }
};
</script>
<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
