<template>
  <div :class="`c-ChangePassword [{'is-loading' : loading}]`">
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
      @submit.prevent="validate()"
    >
      <span
        v-show="formError"
        style="color: red; margin-bottom: 60px; display: block;">{{ formError }}</span>
      <span
        v-show="formSuccess"
        style="color: green; margin-bottom: 60px; display: block;">{{ formSuccess }}</span>
      <div>
        <v-text-field
          v-model="currentPassword"
          :rules="rules.password"
          label="Enter current password"
          type="password"
          required
          class="input--required"
        />
      </div>
      <div>
        <v-text-field
          v-model="password"
          :rules="rules.password"
          label="New Password"
          type="password"
          required
          class="input--required"
        />
      </div>
      <div>
        <v-text-field
          v-model="repeat"
          :rules="rules.password"
          label="Repeat Password"
          type="password"
          required
          class="input--required"
        />
      </div>
      <div class="grid-x">
        <div class="cell medium-20 instruction ">
          <p>Passwords should be 8-16 characters an include one capital letter</p>
        </div>
        <div class="cell medium-6 save ">
          <!-- <button
            :class="['c-Button c-Button--invert', {'is-disabled' : !passwordMatch(password, repeat) || loading}]"
            @click.prevent="validate()"
          >
            Save
          </button> -->
          <input
            :class="['c-Button c-Button--invert', {'is-disabled' : !passwordMatch(password, repeat) || loading}]"
            type="submit"
            value="Save"
            @submit.prevent="validate()"
          >
        </div>
      </div>
    </V-form>
  </div>
</template>

<script>
import { CREATE_ACCESS_TOKEN } from '../../../gql/createAccessToken';
import { CUSTOMER_UPDATE } from '../../../gql/customerUpdate';
import passwordMatch from '../../../mixins/utils.js';
import { EventBus } from '@/plugins/event-bus';

export default {
  mixins: [passwordMatch],
  data() {
    return {
      loading: false,
      currentPassword: '',
      password: '',
      repeat: '',
      formError: false,
      formSuccess: false,
      valid: true,
      lazy: false,
      rules: {
        password: [
          v => !!v || 'Password is required',
          // v => (v && v.length >= 5 && v.length <= 12) || 'Password must contain between 5-12 characters',
        ],
      }
    };
  },
  computed: {
    user(){
      return this.$store.state.auth.user;
    },
    passwordNotNew() {
      if (!(this.password.length < 5 || this.password.length > 12) && (this.password === this.currentPassword))
        return true;
    }
  },
  created() {
    EventBus.$on('setLoadingState', (data) => {
      this.loading = data;
    });
  },
  methods: {
    validate () {
      if(this.$refs.form.validate()){
        this.updatePassword();
      }
      else{
        console.log('fail');
        console.log(this.errors);
      }
    },
    updatePassword() {
      EventBus.$emit('setLoadingState', true);
      this.showLoader = true;
      if (this.currentPassword && !this.passwordMatch) {
        EventBus.$emit('setLoadingState', false);
      } else {
        this.$apollo.mutate({
          mutation: CREATE_ACCESS_TOKEN,
          variables: {
            input: {
              email: this.user.email,
              password: this.currentPassword
            }
          },
        })
          .then((res) => {
            let authToken = this.$auth.getToken('local');
            console.log('createAddress() - authToken:');
            console.log(authToken);

            let token = res.data.customerAccessTokenCreate.customerAccessToken.accessToken;
            // check return access token matches current user
            if (token === authToken && this.password === this.repeat) {
              this.$apollo.mutate({
                mutation: CUSTOMER_UPDATE,
                variables: {
                  customerAccessToken: authToken,
                  customer: {
                    password: this.password
                  }
                },
              })
                .then((res) => {

                  /*this.$store.dispatch('updateToken', res.data.customerUpdate.customerAccessToken.accessToken);
                  this.$store.dispatch('updateCustomer', res.data.customerUpdate.customer);*/

                  this.$auth.setUser(res.data.customerUpdate.customer);

                  EventBus.$emit('setLoadingState', false);
                  EventBus.$emit('passwordUpdated', true);
                  this.$emit('close');
                  this.formSuccess = 'Password updated successfully.';
                  this.formError = '';
                })
                .catch((e) => {
                  // need to handle password strength
                  this.formError = 'Please enter a new password.';
                  this.formSuccess = '';
                  EventBus.$emit('setLoadingState', false);
                });
            } else {
              this.formError = 'There has been an error. Please try again.';
              this.formSuccess = '';
            }
          })
          .catch((e) => {
            this.formError = 'Your current password is incorrect.';
            this.formSuccess = '';
            EventBus.$emit('setLoadingState', false);
          });
      }
    }
  },
};
</script>

<style src="./ChangePassword.scss" lang="scss"></style>
