.c-ChangePassword{
  .c-Modal {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    transition: opacity .2s ease;
  }
  label {
    display: block;
  }
  /*form > div {
    margin-bottom: 10px;
  }*/
  [type="email"],
  [type="password"],
  [type="text"] {
    outline: none;
  }
  .is-loading {
    opacity: .5;
  }
  .is-error {
    border-color: red;
  }
  .is-disabled {
    opacity: .5;
    pointer-events: none;
  }
}
