<template>
  <v-form
    ref="form"
    v-model="valid"
    :lazy-validation="lazy"
    class="c-ResetPasswordForm"
    @submit.prevent="validate()"
  >
    <div>
      <h6>Forgot your Password</h6>
      <p>Enter the email address you use  for your account and you will receive an email containing a link to change your password.</p>
      <p
        v-if="formSuccess"
        style="color: green;"
      >
        A reset password email has been sent and will be with you in a few minutes.
      </p>
      <ul
        v-if="formErrors.length"
        class="c-ResetPasswordForm__msg"
        style="list-style: none; padding-left: 0;"
      >
        <li
          v-for="(error, index) in formErrors"
          :key="index"
          style="color: red;"
        >
          {{ error }}
        </li>
      </ul>
    </div>
    <div :class="{'is-loading' : loading}">
      <v-text-field
        v-model="email"
        :rules="rules.email"
        label="Email Address"
        required
        class="input--required"
      />
      <button
        class="c-Button c-Button--invert"

      >
        Submit
      </button>
    </div>
    <div class="c-Form__actions">
      <div class="c-Form__action">
        <span class="c-Link__text">Back to</span>
        <button
          class="c-Link c-Link--underline"
          @click.prevent="goToLogIn"
        >
          Log In
        </button>
      </div>
    </div>

    <!--Form success: {{ formSuccess }}-->
  </v-form>
</template>

<script>
import { CUSTOMER_RECOVER } from '@/node_modules/six-shopify-library/src/gql/customerRecover';
import { EventBus } from '@/plugins/event-bus';

export default {
  middleware: [
    'loggedin'
  ],
  data() {
    return {
      loading: false,
      email: '', // temp
      formErrors: [],
      formSuccess: false,
      valid: true,
      lazy: false,
      rules: {
        email: [
          v => !!v || 'E-mail is required',
          v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,10})+$/.test(v) || 'E-mail must be valid'
        ],
      }
    };
  },
  created() {
    EventBus.$on('setLoadingState', (data) => {
      this.loading = data;
    });
  },
  methods: {
    validate () {
      if(this.$refs.form.validate()){
        this.sendPasswordResetEmail();
      }
      else{
        console.log('fail');
        console.log(this.errors);
      }
    },
    goToLogIn(){
      this.$parent.tab = '';
      EventBus.$emit('setResetTab');
    },
    sendPasswordResetEmail() {
      EventBus.$emit('setLoadingState', true);
      this.formErrors = [];
      this.formSuccess = false;
      this.$apollo.mutate({
        mutation: CUSTOMER_RECOVER,
        variables: {
          email: this.email
        },
      })
        .then((res) => {
          /*console.log('res:');
                  console.log(res);*/
          let errors = res.data.customerRecover.customerUserErrors;
          if (errors.length) {
            errors.forEach((error) => {
              this.formErrors.push(error.message);
            });
          }
          else {
            this.formSuccess = true;
          }
          EventBus.$emit('setLoadingState', false);
        })
        .catch((e) => {
          console.log('e:');
          console.log(e);
          this.formErrors.push('Password reset limit exceeded. Please wait 5 minutes and try again.');
          EventBus.$emit('setLoadingState', false);
        });
    }
  },
};
</script>

<style src="./ResetPasswordForm.scss" lang="scss"></style>
