<template>
  <client-only>
    <div
      :class="`c-FilterSize ${hideClass}`"
    >
      <div
        v-if="showLabel"
        class="c-FilterSize__label">
        Filter
      </div>
      <c-filter
        :options="options"
        :filter-key="filterKeyName"
      />
    </div>
  </client-only>
</template>

<script>
import CFilter from '../Filter/Filter';
export default {
  components:{
    CFilter
  },
  extends: CFilter,
  props:{
    showLabel: {
      default: false,
      type: Boolean,
      required: false,
    }
  },
  data() {
    return {
      filterKeyName: 'size',
    };
  },

};
</script>

<style src="./FilterSize.scss" lang="scss"></style>

