.c-FilterSize{
    display: flex;
    align-items: flex-start;

    &__label {
        padding: 0 30px 0 0;
        font-size: 10px;
        line-height: 14px;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        align-self: center;
    }

    .c-FilterBlock{
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        height: 100%;
    }

    &.hidden{
        visibility: hidden;
    }

}
