.c-FilterColor {
    display: flex;
    align-items: flex-start;

    &__label {
        padding: 0 30px 0 0;
        font-size: 10px;
        line-height: 14px;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    .c-FilterBlock{
        height: 100%;
    }

    &.hidden{
        visibility: hidden;
    }
   // transition: visibility 0s linear 300ms, opacity 300ms;

}
