<template>
    <div
      :class="`c-FilterColor ${hideClass}`"
    >
      <div
        v-if="showLabel"
        class="c-FilterColor__label">
        Filter
      </div>
      <c-filter
        :options="options"
        :filter-key="filterKeyName"
      />
    </div>
</template>

<script>
import CFilter from '../Filter/Filter';
export default {
  components:{
    CFilter
  },
  extends: CFilter,
  props:{
    showLabel: {
      default: false,
      type: Boolean,
      required: false,
    }
  },
  data() {
    return {
      filterKeyName: 'color',
    };
  },


};
</script>

<style src="./FilterColor.scss" lang="scss"></style>
