<template>
  <div
    v-editable="blok"
    class="c-ProductAccordionGroup"
  >
    <ProductAccordion
      v-for="(item, index) in blok"
      :key="index"
      :blok="item"
    />
  </div>
</template>

<script>
import ProductAccordion from '../ProductAccordion/ProductAccordion';

export default {
  components:{
    ProductAccordion
  },
  props: {
    blok: {
      required: true,
      type: Array,
      default: () => []
    },
  }
};
</script>

<style src="./ProductAccordionGroup.scss" lang="scss"></style>
